// spacing
$space-8: 8px
$space-12: 12px
$space-16: 16px
$space-24: 24px
$space-32: 32px
$space-40: 40px
$product-size-medium: 14px


.ib-context
  width: 100%
  min-height: 100vh
  min-width: 0
  position: relative
  
// Layout setting
.ib-productpage
  position: relative
  width: 100%
  overflow: hidden
  .ib-context
    @include media(">tablet")
      display: flex

  .ib-productpage-promises
    margin-bottom: 24px


  // Content
  &__viewer
    width: 100%
    position: relative
    padding: 0
    @include media(">tablet")
      padding-left: 40px
    @include media(">desktop")
      padding-left: 60px

    &-desktop
      display: none
      position: relative
      @include media(">tablet")
        position: relative
        margin-left: -8px
        margin-bottom: 24px
        display: flex
        flex-wrap: wrap
    
    &-mobile
      position: relative
      width: 100%
      // min-height: 100vh
      min-width: 0
      //background-color: var(--color-fill)

      @include media(">tablet")
        display: none



  // sidebar
  &__sidebar
    position: relative
    margin-top: 24px
    max-width: 100%
    padding: 12px
    @include media(">mobile")
      padding: 24px
    @include media(">tablet")
      flex: 0 0 420px
      max-width: 420px
      padding-left: 40px
      padding-right: 40px
    @include media(">desktop")
      flex: 0 0 550px
      max-width: 550px
      padding-right: 60px


.ib-productpage-media
  flex: 0 1 calc(50% - 16px)
  display: flex
  margin: 8px
  position: relative
  overflow: hidden
  align-items: center
  border: 1px solid var(--color-border)
  &:before
    content: ""
    display: block
    padding-bottom: 100%
    background-color: var(--color-fill)






// product blocks
.ib-product-section
  display: block
  margin-bottom: $space-24
  position: relative
  &__content
    display: block

.ib-product-section--group
  margin: $space-40 0 0 0
  .ib-product-section--group_item~.ib-product-section--group_item
    border-top: 1px solid var(--color-border)
    padding-top: 24px
    margin-top: 24px



.ib-product-label
  letter-spacing: 2px
  margin-bottom: $space-16
  display: block

.ib-product-title-group
  @include media(">tablet")
    display: block
    margin-bottom: 24px
  @include media(">desktop")
    display: flex



.ib-product-title
  width: 100%
  padding-right: 24px
  @include media(">tablet")
    .ib-product-title
      font-size: calc(1.75rem * var(--scale))
      padding-right: 0

.ib-product-title-group--mobile
  padding: 24px 16px
  display: flex
  position: relative
  &:before
    width: 100%
    height: 100%
    top: 0
    left: 0
    content: ''
    position: absolute
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(234,234,234,1) 100%)
    z-index: -1
  .ib-product-title
    font-size: calc(2rem * var(--scale))


.ib-product-pricing
  flex: 0 0 100px
  max-width: 100px
  text-align: right

.ib-product-summary
  width: calc(100% - 100px)
  margin-bottom: 8px
  @include media(">tablet")
    width: 100%
  

// ib-product-section-header
.ib-product-section__header
  display: flex
  justify-content: space-between
  font-size: 0.875rem
  margin-bottom: $space-16

.preview-value
  letter-spacing: 0.5px
  padding-left: 4px

// colors
.ib
  &-colornav
    display: inline-block

  &-colornav-items
    display: inline-block
    list-style: none
    margin: 0 -2px
  
  &-colornav-item
    float: left
    margin: 0 6px

  &-colornav-value,
  &-colornav-label
    position: absolute
    clip: rect(1px, 1px, 1px, 1px)
    clip-path: inset(0 0 99.9% 99.9%)
    overflow: hidden
    height: 1px
    width: 1px
    padding: 0
    border: 0

  &-colornav-link
    border: 1px solid transparent
    border-radius: 50%
    box-sizing: border-box
    color: #333
    cursor: pointer
    float: left
    padding: 3px
    position: relative
    width: 40px
    height: 40px
    z-index: 1
    transition: all 120ms ease-in

  &-colornav-switch
    background: #ccc 50%
    border-radius: 50%
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.1)
    display: block
    width: 32px
    height: 32px

  &-colornav-label
    font-size: 10px
    line-height: 1
    font-weight: 400
    top: 100%
    left: -55%
    text-align: center
    white-space: nowrap
    width: 80px
    height: auto
    z-index: 1

.ib-colornav-link.selected,
.ib-colornav-value:checked~.ib-colornav-link
  border-color: var(--color-brand)
  cursor: default
.ib-colornav-value:focus~.ib-colornav-link
  box-shadow: 0 0 0 3px rgba(131,192,253,.5)
  outline: none


// diamond quality
.content-box
  background: #fff
  background-clip: padding-box
  border: 1px solid var(--color-border)
  color: #545454

  &::before,
  &::after
    content: ""
    display: table
    
  &__row
    display: table
    box-sizing: border-box
    width: 100%
    padding: 12px 12px 10px 12px
    position: relative
    zoom: 1
    border-bottom: 1px solid var(--color-border)
    &:last-child
      margin-bottom: 0
      border-bottom: 0
    &:hover,
    &.selected
      background-color: var(--color-grey-selected)
      font-weight: var(--font-medium)

.radio-wrapper
  display: table
  box-sizing: border-box
  width: 100%
  &::before,
  &::after
    content: ""
    display: table

.radio__input
  display: table-cell
  padding-right: 0.75em
  white-space: nowrap
  cursor: pointer
  vertical-align: middle

.radio__label
  display: table-cell
  width: 100%
  &__primary
    display: table-cell
    width: 100%
    font-weight: var(--font-medium)
    .small-text
      font-size: 13px
      padding-left: 8px
      opacity: 0.75
      font-weight: var(--font-regular)
  &__accessory
    display: table-cell
    text-align: right
    padding-left: 0.75em
    white-space: nowrap
    font-size: 13px


// content-button
.product-size
  position: relative
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr))
  border-left: 1px solid var(--color-border)
  @include media(">tablet")
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr))
  *
    box-sizing: border-box
  
  &__option
    width: auto
    border: 1px solid var(--color-border)
    border-left: none
    margin-bottom: -1px
    height: 40px
    display: flex
    justify-content: center
    text-align: center
    align-items: center
    line-height: 1em
    letter-spacing: 1px
    cursor: pointer
    font-size: $product-size-medium
    &:hover,
    &.selected
      background-color: var(--color-brand)
      transition: background-color 80ms ease-in
      color: #fff

//cta
.ib-product-btn-group
  display: flex
  .ib-btn--cta-productpage
    width: 100%
  .ib-btn-icon
    flex: 0 0 58px
    max-width: 58px
    margin-left: 16px

// "ib-product-product-availability
.ib-product-item-availability
  position: relative
  width: 100%
  padding-bottom: $space-40
  &__item
    display: flex
    padding: $space-8 0
    &:last-child
      padding-bottom: 0
    .svgIcon-root
      font-size: 24px
      margin-right: 24px
      text-align: left
      display: block
    .product-availability-information
      width: 100%
      font-size: $product-size-medium

// .sidebar-box
.sidebar-box
  max-height: 100px
  position: relative
  word-break: break-word
  margin-bottom: 24px
  overflow: hidden

  .read-more
    position: absolute
    bottom: 0px
    left: 0
    right: 0
    width: 100%
    text-align: center
    margin: 0
    z-index: 2
    padding-top: 40px
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%)

// ib-product-delivery
.ib-product-delivery
  position: relative
  width: 100%
  &__header
    margin-bottom: $space-16
  &__timeline
    display: flex
    justify-content: space-between
    position: relative
    margin-bottom: $space-40
    &:before
      width: 96%
      border-bottom: 1px dashed rgba(0,0,0,0.3)
      height: 1px
      content: ""
      position: absolute
      left: 0
      right: 0
      margin: 0 auto
      top: 24px
    .ib-icon-wrapper
      border: 8px solid #fff
      box-sizing: content-box
    &-column
      flex: 1 0 50%
      &:last-child
        text-align: right
        .ib-icon-wrapper,
        .ib-tooltip-button
          margin-left: auto
    .ib-tooltip-button
      opacity: 0.75
  &__details
    display: flex
    flex-wrap: wrap
    .ib-product-attribute-info
      flex: 1 0 50%

//ib-product-attribute-info
.ib-product-attribute-info
  position: relative
  padding: 0
  float: left
  @include ib-clearfix
  margin-bottom: 24px
  display: block
  padding-right: 16px

  .ib-product-attribute-title
    display: table
    margin-bottom: 4px
    color: #666
    .svgIcon-root
      opacity: 1

.ib-stock-scary-message
  margin-top: 8px
  display: block
  color: var(--color-accent-red)

// tooltips
#tooltip
  text-align: left
  color: #000000
  background: #FFFFFF
  position: absolute
  z-index: 100
  padding: 16px
  font-size: 12px
  border: 1px solid rgba(34, 34, 34, 0.15)
  border-radius: 12px
  box-shadow: 0 6px 36px rgba(34, 34, 34, 0.3)

  &:after
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 10px solid #FFFFFF
    content: ''
    position: absolute
    left: 50%
    bottom: -10px
    margin-left: -10px

  &.top:after
    border-top-color: transparent
    border-bottom: 10px solid #FFFFFF
    top: -20px
    bottom: auto

  &.left:after
    left: 10px
    margin: 0

  &.right:after
    right: 10px
    left: auto
    margin: 0


//section-fix-content
.section-fix-content
  position: relative
  width: 100%

// ib-delivery-values
.ib-delivery-values
  display: flex
  .col-3
    padding: 0



//sider
.ib-product-carousel
  width: 100%
  margin-bottom: 0
  position: relative
  overflow: hidden
  height: 100vw
  .carousel-cell
    width: 100%
    position: absolute
    left: 0
    top: 0
    height: 100%
    display: flex
    align-items: center


/* cell number

.carousel-nav
  padding-left: 16px
  .carousel-cell
    height: 80px
    width: 80px
    position: relative
    border: 1px solid var(--color-border)
    margin: 0 4px

  .flickity-button
    display: none

.carousel-cell.is-selected.is-nav-selected
  border-color: #000000

/* position dots up a bit */
.flickity-page-dots
  bottom: -22px
  width: 100%
  display: flex
  /* dots are lines */
  .dot
    height: 2px
    width: 40px
    margin: 0
    flex: 1 0 auto
    border-radius: 0


.ib-productpage-promises
  position: relative
  background-color: var(--color-fill)
  display: flex
  flex-wrap: wrap
  @include media(">tablet")
    padding: 24px
  &__col
    text-align: center
    line-height: 1.2
    flex: 1 0 50%
    padding: 24px
    @include media(">tablet")
      flex: 1 0 25%
      padding: 0 16px


    .svgIcon-root
      font-size: 2rem
      margin-bottom: 24px
    h5
      margin-bottom: 8px
      letter-spacing: 0.5px
    a
      display: table
      margin-left: auto
      margin-right: auto
      margin-top: 16px
      text-align: center



// product slider
.ib-products-carousel
  position: relative
  .carousel-cell
    width: 50%
    @include media(">tablet")
      width: 30%

.ib-productpage-product-more
  position: relative
  padding: 24px 0
  h4
    margin-bottom: 16px



