<ul class="filter-links" class="menubar">
  <li class="list-group">
    <ul class="menu-check">
      <li class="menu-item">
        <label class="filter-label" for="c000">Trending now</label>
      </li>
      <li class="menu-item">
        <label class="filter-label" for="c00">Best Sellers</label>
      </li>
      <li class="menu-item">
        <label class="filter-label" for="c0">Discounts</label>
      </li>
    </ul><!-- end menu -->
  </li>
  <li class="list-group">
    <span class="list-group-title">by Category</span>
    <ul class="menu-check">
      <li class="menu-item">
        <label class="filter-label">All</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Necklaces</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Earrings</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Bracelets</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Watches</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Accessories</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Rings</label>
      </li>
      <li class="menu-item">
        <label class="filter-label">Pendants</label>
      </li>
    </ul><!-- end menu -->
  </li>
  <li class="list-group">
    <span class="list-group-title">by Products</span>
    <ul class="menu-check">
      <li class="menu-item">
        <input id="c9" type="checkbox">
        <label class="filter-label" for="c9">Jesus Pendants<span class="product-counter">(24)</span></label>
      </li>
      <li class="menu-item">
        <input id="c10" type="checkbox">
        <label class="filter-label" for="c10">Angel Pendants<span class="product-counter">(65)</span></label>
      </li>
      <li class="menu-item">
        <input id="c11" type="checkbox">
        <label class="filter-label" for="c11">Crosses<span class="product-counter">(25)</span></label>
      </li>
      <li class="menu-item">
        <input id="c12" type="checkbox">
        <label class="filter-label" for="c12">Other Pendants<span class="product-counter">(13)</span></label>
      </li>
      <li class="menu-item">
        <input id="c13" type="checkbox">
        <label class="filter-label" for="c13">Letter Pendants<span class="product-counter">(188)</span></label>
      </li>
      <li class="menu-item">
        <input id="c14" type="checkbox">
        <label class="filter-label" for="c14">Coin Pendants<span class="product-counter">(90)</span></label>
      </li>
      <li class="menu-item">
        <input id="c15" type="checkbox">
        <label class="filter-label" for="c15">Religious Pendants<span class="product-counter">(18)</span></label>
      </li>
      <li class="menu-item">
        <input id="c16" type="checkbox">
        <label class="filter-label" for="c16">Animals<span class="product-counter">(38)</span></label>
      </li>
      <li class="menu-item">
        <input id="c18" type="checkbox">
        <label class="filter-label" for="c18">Hearts<span class="product-counter">(65)</span></label>
      </li>
      <li class="menu-item">
        <input id="c19" type="checkbox">
        <label class="filter-label" for="c19">Sports<span class="product-counter">(78)</span></label>
      </li>
      <li class="menu-item">
        <input id="c20" type="checkbox">
        <label class="filter-label" for="c20">Weapons<span class="product-counter">(65)</span></label>
      </li>
      <li class="menu-item">
        <input id="c21" type="checkbox">
        <label class="filter-label" for="c21">Glasses<span class="product-counter">(31)</span></label>
      </li>
      <li class="menu-item">
        <input id="c22" type="checkbox">
        <label class="filter-label" for="c22">Countries<span class="product-counter">(65)</span></label>
      </li>
    </ul><!-- end menu -->
  </li>
</ul>