<div class="story-carosuel-container homepage--feature-story">
  <div class="story-carousel grid-container">
    <a href="#" class="story-carousel-items">Men's Jewelry</a>
    <a href="#" class="story-carousel-items">Women's Jewelry</a>
    <a href="#" class="story-carousel-items">Women’s Jewellery</a>
    <a href="#" class="story-carousel-items">Custom Rolex</a>
    <a href="#" class="story-carousel-items">Under 1000$</a>
    <a href="#" class="story-carousel-items">Under 500$</a>
    <a href="#" class="story-carousel-items">Gold Chains</a>
  </div>
</div>