<div class="scrolling-wrapper filters-sort-categories">
  <ul class="categorie-filters">
    <li class="filter-label categorie-filters-item"><a href="#">Jesus Pendants <span class="product-counter">(164)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Angel Pendants <span class="product-counter">(20)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Crosses <span class="product-counter">(12)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Letter Pendants <span class="product-counter">(23)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Other Pendants <span class="product-counter">(15)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Letter Pendants <span class="product-counter">(22)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Religious Pendants <span class="product-counter">(64)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Animals <span class="product-counter">(32)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Hearts <span class="product-counter">(64)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Sports <span class="product-counter">(11)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Weapons <span class="product-counter">(65)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Glasses <span class="product-counter">(12)</span></a></li>
    <li class="filter-label categorie-filters-item"><a href="#">Countries <span class="product-counter">(7)</span></a></li>
  </ul>
</div>