<div class="filters-sort custom-checkbox">
  <fieldset class="filter--gender">
    <div class="filters-custom dropdown">
      <button class="filters-dropdown dropdown-toggle ml-0 pl-0" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Gender
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="menu-check">
          <li class="menu-item dropdown-item">
            <input id="male" type="checkbox">
            <label class="filter-label" for="male">Male</label>
          </li>
          <li class="menu-item dropdown-item">
            <input id="female" type="checkbox">
            <label class="filter-label" for="female">Female</label>
          </li>
          <li class="menu-item dropdown-item">
            <input id="unisex" type="checkbox">
            <label class="filter-label" for="unisex">Unisex</label>
          </li>
        </ul><!-- end menu -->
      </div>
    </div>
  </fieldset>

  <fieldset class="filter--size">
    <div class="filters-custom dropdown">
      <button class="filters-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Size
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="filtersize">
          <li class="filtersize-item filter-label"><a href="#">16 Inches / 40.64 CM</a></li>
          <li class="filtersize-item filter-label"><a href="#">16 Inches / 40.64 CM</a></li>
          <li class="filtersize-item filter-label"><a href="#">16 Inches / 40.64 CM</a></li>
          <li class="filtersize-item filter-label"><a href="#">16 Inches / 40.64 CM</a></li>
        </ul><!-- end menu -->
      </div>
    </div>
  </fieldset>

  <fieldset class="filter--color">
    <div class="filters-custom dropdown">
      <button class="filters-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Colors
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <ul class="colornav-items colornav-oneline">
          <li class="colornav-item">
            <input type="radio" name="color" id="color-gold" value="color-gold" class="colornav-value" checked>
            <label for="color-gold" class="colornav-link">
              <span class="color--golden colornav-switch"></span>
            </label>
            <label for="color-gold" class="colornav-label filter-label">Golden</label>
          </li>
          <li class="colornav-item">
            <input type="radio" name="color" id="color-silver" value="color-silver" class="colornav-value">
            <label for="color-silver" class="colornav-link">
              <span class="color--silver colornav-switch"></span>
            </label>
            <label for="color-silver" class="colornav-label filter-label">Silve</label>
          </li>
          <li class="colornav-item">
            <input type="radio" name="color" id="color-rosegold" value="color-rosegold" class="colornav-value">
            <label for="color-rosegold" class="colornav-link">
              <span class="color--rose colornav-switch"></span>
            </label>
            <label for="color-rosegold" class="colornav-label filter-label">Rose Gold</label>
          </li>
          <li class="colornav-item">
            <input type="radio" name="color" id="color-twotone" value="color-twotone" class="colornav-value">
            <label for="color-twotone" class="colornav-link">
              <span class="color--twotone-wr colornav-switch"></span>
            </label>
            <label for="color-twotone" class="colornav-label filter-label">Two Tone</label>
          </li>
          <li class="colornav-item">
            <input type="radio" name="color" id="color-tritone" value="color-tritone" class="colornav-value">
            <label for="color-tritone" class="colornav-link">
              <span class="color--twotone-wy colornav-switch"></span>
            </label>
            <label for="color-tritone" class="colornav-label filter-label">Tri Tone</label>
          </li>
        </ul>
      </div>
    </div>
  </fieldset>

  <fieldset class="filter--apply">
    <button class="btn" onclick="$('#resultsFrm').submit();">Apply Filters</button>
  </fieldset>

  <fieldset class="filter--sortby">
    <div class="filter-shipping status-current">
      <label for="shipToday">Shipping Today</label>
      <input class="ml-2" type="checkbox" id="shipToday">
    </div>
    <div class="filters-custom dropdown">
      <button class="filters-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <ul class="menu-check">
          <a href="#" class="menu-item dropdown-item filter-label">Newest</a>
          <a href="#" class="menu-item dropdown-item filter-label">Popular</a>
          <a href="#" class="menu-item dropdown-item filter-label">Price: High-Low</a>
          <a href="#" class="menu-item dropdown-item filter-label">Price: Low-High</a>
        </ul><!-- end menu -->
      </div>
    </div>
  </fieldset>
</div>

<div class="filters-is-enable">
  <a href="#" class="sortfilter-active ml-0">
    <div class="filter-label">
      <span>Women</span>
      <span class="delete-filter">
        <svg id="cross-small" viewBox="0 0 14 24">
          <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
            <path d="M13 6l-6 6 6 6M1 6l6 6-6 6"></path>
          </g>
        </svg>
      </span>
    </div>
  </a>
  <a href="#" class="sortfilter-active">
    <div class="filter-label">
      <span>Shipping Today</span>
      <span class="delete-filter">
        <svg id="cross-small" viewBox="0 0 14 24">
          <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
            <path d="M13 6l-6 6 6 6M1 6l6 6-6 6"></path>
          </g>
        </svg>
      </span>
    </div>
  </a>
  <a href="#" class="sortfilter-active">
    <div class="filter-label">
      <span>24</span>
      <span class="delete-filter">
        <svg id="cross-small" viewBox="0 0 14 24">
          <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
            <path d="M13 6l-6 6 6 6M1 6l6 6-6 6"></path>
          </g>
        </svg>
      </span>
    </div>
  </a>
</div>