<!doctype html>
<html lang="eng">

<head>
  {% include "../components/header.twig" %}
</head>

<body class="nav-on-left">
  <main>
    
    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  <script src="js/login.min.js"></script>
</body>

</html>