<!-- layout -->
{% extends "../../layouts/elements.twig" %}
{% block content %}

<section class="report appraisal">
  <div class="appraisal__header">
    <img src="../img/logo.svg" alt="Logo">
  </div>
  <h4 class="appraisal__heading">
    Detailed Appraisal Report
  </h4>
  <div class="appraisal__message">
    <label class="appraisal__message--label">
      The name of the purchaser and/or owner of the described:
    </label>
    <h3 class="appraisal__message--name">Mr. Julian Hughes</h3>
    <div class="appraisal__message--message">
      <p>This is to certify that we are, and for many years have been, engaged in the jewelry business: purchasing,
        selling,
        servicing and appraising diamonds, watches, jewelry and precious stones of most names and nature.</p>
      <p>We herewith certify that we have this day carefully examined the following listed and described articles:</p>
    </div>
  </div>
  <div class="appraisal__product">
    <div class="appraisal__product-image">
      <figure>
        <img src="../img/appraisal-photo.jpg" alt="">
      </figure>
      <div class="appraisal__product-price">$82,000.00</div>
    </div>
    <div class="appraisal__product-details">
      <ul class="product-details--list">
        <li>
          <span>Description</span>
          <p class="product-details--title">Rolex Day-Date 40MM 19.49ctw w Baguette Diamonds - 18K Yellow Gold</p>
        </li>
        <li>
          <span>Model</span>
          <p>#:228238</p>
        </li>
        <li>
          <span>Serial</span>
          <p>pr-2081</p>
        </li>
        <li>
          <span>Average Color/clarity Diamonds:</span>
          <p>GH/VS2-SI1</p>
        </li>

      </ul>
    </div>
  </div>
  <p class="appraisal__notice">
    <strong>Notice:</strong> This appraisal provides you with the approximate price at which you could replace the
    foregoing articles with comparable
    merchandise at an average fine jewelry store selling jewelry of like quality and do not necessarily reflect the
    price at
    which the appraised or similar jewelry may be purchased at icebox diamonds and watches. These appraised values are
    based
    upon our estimates of size and quality of the aforementioned artizcles. This appraisal was done on mounted
    gemstones.
    All measurement are approximate. These values do not include federal and sales tax. This certificate does not
    constitute
    an offer to purchase or replace this article.The foregoing appraisal is made and accepted upon the express
    understanding
    that the appraisal giving it incurs no liability or responsibility. Jewelry appraisal and evaluation is subjective,
    thus
    estimates of replacement value may vary between appraisers and such variance does not necessarily constitute an
    error on
    part of the appraiser.
  </p>
  <div class="authorized-signature">
    THE UNDERSIGNED HAS HEREUNTO AFFIXED HIS AUTHORIZED SIGNATURE
    <span>TODAY - Monday, 16 July 2018</span>
  </div>
  <div class="appraisal__notes">
    <label>Skylar Langfeldt</label>
    <h4>GIA GRADUATE GEMOLOGIST</h4>
  </div>
  <div class="appraisal__footer">
    <div class="appraisal__footer-logo"><img src="../img/logo-white.svg" alt="Logo"></div>
    <ul class="appraisal__footer-contact">
      <li>Phone: (404) 842-0266</li>
      <li>3255 Peachtree Road Suite 2 Atlanta, GA 30305</li>
      <li>support@icebox.com</li>
    </ul>
  </div>
</section>

{% endblock %}
<!-- footer scripts -->
{% block included_content %}
{% endblock %}