<div class="cookies cookiealert show">
  <p class="cookies__body">This website uses <a href="https://www.icebox.com/privacy-policy#Cookies"
      class="btnLink">Cookies</a> to ensure you get the best
    experience
  </p>
  <button class="btn acceptcookies">I agree</button>
</div>