<!-- layout -->
{% extends "../../layouts/elements.twig" %}
{% block content %}

<!-- Default -->
<div class="icebox__promo">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>Guaranteed shipping to Armenia <a class="promo__action" href="#">See details</a></p>
    </div>
  </div>
</div>

<br>

<div class="icebox__promo">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>Extra 20% Off sale on Watches, Use Code <span class="promo-code">Icebox20</span> at checkout
        <a class="promo__action" href="#">Shop now</a>
      </p>
    </div>
  </div>
</div>

<br>

<div class="icebox__promo season__chirstmas">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>Guaranteed delivery before chirstmas, for all order placed before Thursday, Dec 19
        <a class="promo__action" href="#">Shop now</a>
      </p>

    </div>
  </div>
</div>

<br>

<div class="icebox__promo season__holiday">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>Shop gifts for your family & friends this holiday session
        <a class="promo__action" href="#">See offers</a>
      </p>

    </div>
  </div>
</div>

<br>

<div class="icebox__promo warning__message">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>This watches only for adult<a class="promo__action" href="#">Read More</a>
      </p>

    </div>
  </div>
</div>


<br>

<div class="icebox__promo country__change">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>Purchases made on this site will ship to specifies country only. Do you want to shop the U.S. site?
        <a class="promo__action" href="#">Select country</a></p>
    </div>
  </div>
</div>


{% endblock %}
<!-- footer scripts -->
{% block included_content %}
<script src="js/homepage.min.js"></script>
{% endblock %}