<!-- layout -->
{% extends "../layouts/default.twig" %}
<!-- header addtional -->
{% block included_content_header %}
{% include "../components/promo1.twig" %}
{% endblock %}


{% block content %}
<!-- main-slider -->
<div class="slider-wrapper">
  <!-- home-carousel -->
  <div id="homecarousel" class="owl-carousel owl-theme">
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-11.jpg);">
      <div class="container homecarousel-left">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-12.jpg);">
      <div class="container homecarousel-center">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-13.jpg);">
      <div class="container homecarousel-center">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-14.jpg);">
      <div class="container homecarousel-left">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-15.jpg);">
      <div class="container homecarousel-right">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-4.jpg);">
      <div class="container homecarousel-left">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-6.jpg);">
      <div class="container homecarousel-center">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Nelie Collection!
          </h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting From $350
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-5.jpg);">
      <div class="container homecarousel-left">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Best Selling Bracelets</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $1000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-7.jpg);">
      <div class="container homecarousel-left">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">Rolex Watch Collection</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $10000
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-8.jpg);">
      <div class="container homecarousel-right">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">795 Latest Pendants Designs</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Starting from $300
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
    <div class="owl-slide cover" style="background-image: url(img/banners/banner-9.jpg);">
      <div class="container homecarousel-left">
        <div class="homecarousel--content">
          <h2 class="homecarousel--animated homecarousel-title text-white">New Arrivals of Rolex Watches</h2>
          <p class="homecarousel--animated homecarousel-subtitle text-white">
            Find the newest arrivals of Rolex Watches to Icebox's Watches every week
          </p>
          <a class="btn btn-border btn-border-white btn-animated homecarousel--animated homecarousel-cta" href="#"
            target="_blank" role="button"><span>View Collection</span></a>
        </div>
      </div>
    </div><!-- owl slider -->
  </div>
</div>

<!-- section male & female -->
<section class="gender">
  <div class="container">

    <div class="gender-wrapper">
      <figure class="media">
        <div class="media-wrapper">
          <picture class="lazy">
            <img srcset=" img/men.jpg" alt="…">
          </picture>
        </div>
        <figcaption>
          <h3 class="text-white">Men</h3>
          <span class="text-white">View Collection</span>
        </figcaption><!-- end figcaption -->
        <a class="link link--overlap" href="results.html">link</a>
      </figure>
      <!-- cols -->
      <figure class="media">
        <div class="media-wrapper">
          <picture class="lazy">
            <img srcset=" img/women.jpg" alt="…">
          </picture>
        </div>
        <figcaption>
          <h3 class="text-white">Women</h3>
          <span class="text-white">View Collection</span>
        </figcaption><!-- end figcaption -->
        <a class="link link--overlap" href="results.html">link</a>
      </figure>
    </div>

  </div>
</section>

<!-- new products -->
<section class="products-new">
  <div class="container">
    <div class="section-header section-header--flex">
      <h3>Newest Items</h3>
      <a class="link" href="#">Shop All</a>
    </div>

    <!-- product wrapper -->
    <div id="product-wrapper" class="product-wrapper owl-carousel owl-theme">
      {% for i in 1..8 %}
      {% include '../components/productcart.twig' with {'objects':i} %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- best sellers -->
<section class="best-seller session-bg">
  <div class="container">
    <div class="section-header section-header--flex">
      <h3>Best Sellers</h3>
      <a class="link" href="#">Shop All</a>
    </div>

    <div class="best-seller-wrapper layout--grid layout--products">
      {% for i in 1..12 %}
      {% include '../components/productcart.twig' with {'objects':i} %}
      {% endfor %}
    </div>

  </div>
</section>

<!-- shop by categories -->
<section class="shop-categories">
  <div class="container">
    <div class="section-header section-header--center">
      <h2 class="title-2">Shop By Category</h2>
    </div>

    <div class="shop-container category-blocks">
      <div class="category-item category-item-1">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/pandants.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Pendants</h3>
            <span class="text-white">View Collection</span>
          </figcaption><!-- end figcaption -->
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>

      <div class="category-item category-item-2">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/rings.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Rings</h3>
            <span class="text-white">View Collection</span>
          </figcaption>
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>
      <div class="category-item category-item-3">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/watches.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Watches</h3>
            <span class="text-white">View Collection</span>
          </figcaption>
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>
      <div class="category-item category-item-4">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/necklaces.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Necklaces</h3>
            <span class="text-white">View Collection</span>
          </figcaption>
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>
      <div class="category-item category-item-5">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/earrings.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Earrings</h3>
            <span class="text-white">View Collection</span>
          </figcaption>
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>
      <div class="category-item category-item-6">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/grillz.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Grillz</h3>
            <span class="text-white">View Collection</span>
          </figcaption>
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>
      <div class="category-item category-item-7">
        <figure class="media">
          <div class="media-wrapper">
            <picture class="lazy">
              <img srcset="img/category/bracelets.jpg" alt="…">
            </picture>
          </div>
          <figcaption>
            <h3 class="text-white">Bracelets</h3>
            <span class="text-white">View Collection</span>
          </figcaption>
          <a class="link link--overlap" href="#">link</a>
        </figure>
      </div>
    </div>

  </div>
</section>

<section class="section-celebrites">
  <div class="section-header section-header--center">
    <h3>Celebrity Clientele</h3>
    <p>See more on <a href="#">Instagram Icebox</a></p>
  </div>

  <div id="celebrites" class="owl-carousel owl-theme">
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/1-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/2-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/3-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/4-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/5-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/1-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/2-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/3-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/4-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/5-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
  </div>

</section>


{% endblock %}



<!-- footer scripts -->
{% block included_content %}
<!-- scripts -->
<script src="js/homepage.min.js"></script>
<script>
  _e('newsletterWelcomeButton').addEventListener('click', function () {
    _e('newsletterWelcomeForm').remove();
    _e('newsletterWelcomeTitle').innerHTML = 'Thank you! 🎉';
    _e('newsletterWelcomeText').innerHTML = 'Now you will be the first get to know about new offers and discounts on icebox!';
  }, false);
  function _e(id) {
    return document.getElementById(id);
  }
  $(function () {
    $('#newsletterWelcomeButton').on('click', function () {
      var r = $('<a href="#" class="btn btn-border mt-4 btn-full js-newsletterTriggerButton">Done</a>');
      $(".newsletter--welcome").append(r).show();
    });
  });
  function initNewsletterWelcome() {
    setTimeout(function () {
      $('.newsletter--overlay').addClass('is-active');
    }, 3000);
    $('.js-newsletterTriggerButton').on('click', function () {
      $('.newsletter--overlay').removeClass('is-active');
    });
  }
  $(document).ready(function () {
    initNewsletterWelcome();
  });
</script>
{% endblock %}