<!-- layout -->
{% extends "../layouts/default.twig" %}
{% set page = 'address' %}


{% block content %}

<div class="container">

  <!-- my account -->
  <section class="myaccount">
    <div class="myaccount__header">
      <div class="myaccount__header-wrapper">
        <h2 class="title-3">Edit Address</h2>
      </div>
      <!-- breadcrums -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="myaccount.html">My Account</a></li>
          <li class="breadcrumb-item"><a href="myaccount-address.html">Address</a></li>
          <li class="breadcrumb-item" aria-current="page">Edit Shipping Address</li>
        </ol>
      </nav>
    </div>

    <!-- __wrapper"> -->
    <div class="myaccount__wrapper">
      <!-- navbar -->
      {% include "../components/myaccount-navbar.twig" %}
      <!-- dashboard -->
      <div class="myaccount__wrapper-container">


        <!-- address -->
        <div class="account__address-edit">
          <div class="main">

            <div class="main__section">
              <div class="input__wrapper-half">
                <div class="input__wrapper input__wrapper-space">
                  <input type="text" class="input__default" id="firstName">
                  <label for="firstName">First Name</label>
                </div>
                <div class="input__wrapper input__wrapper-space">
                  <input type="text" class="input__default" id="lastName">
                  <label for="lastName">Last Name</label>
                </div>
              </div>
              <div class="input__wrapper input__wrapper-space">
                <input type="text" class="input__default" id="address">
                <label for="address">Address</label>
              </div>
              <div class="input__wrapper input__wrapper-space">
                <input type="text" class="input__default" id="addressDetails">
                <label for="addressDetails">Apartment, suite, etc. (optional)</label>
              </div>
              <div class="input__wrapper-half">
                <div class="input__wrapper input__wrapper-space">
                  <input type="text" class="input__default" id="city">
                  <label for="city">City</label>
                </div>
                <div class="input__wrapper input__wrapper-space">
                  <input type="text" class="input__default" id="country">
                  <label for="country">Country/Region</label>
                </div>
              </div>
              <div class="input__wrapper input__wrapper-space">
                <input type="text" class="input__default" id="postalCode">
                <label for="postalCode">Postal Code</label>
              </div>

            </div><!-- end main__section -->

            <div class="main__section main__footer">
              <a href="myaccount-address.html" class="btn btn__cart">Cancel</a>
              <button class="btn btn-primary btn__cart">Save Changes</button>
            </div><!-- end main__section -->

          </div>

        </div>

      </div><!-- end container -->
    </div><!-- end myaccount__wrapper -->
  </section>
</div><!-- end container -->

{% endblock %}
<!-- footer scripts -->
{% block included_content %}
<!-- scripts -->
<script src="js/categories.min.js"></script>
{% endblock %}