<!-- layout -->
{% extends "../layouts/default.twig" %}
{% set page = 'profile' %}

{% block content %}

<div class="container">
  <!-- my account -->
  <section class="myaccount">
    <div class="myaccount__header">
      <div class="myaccount__header-wrapper">
        <h2 class="title-3">Profile</h2>
        <span class="myaccount-info">Edit profile &amp; changess</span>
      </div>
      <!-- breadcrums -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="myaccount.html">My Account</a></li>
          <li class="breadcrumb-item" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>

    <!-- __wrapper"> -->
    <div class="myaccount__wrapper">
      {% include "../components/myaccount-navbar.twig" %}
      <!-- dashboard -->
      <div class="myaccount__wrapper-container">
        <!-- address -->
        <div class="account__profile">
      
          <div class="profilecustomer card-block">
            <div class="profilecustomer__header card-block-header">
              <h4 class="title-5">Personal Detials</h4>
              <button class="btn btn-secondary edit-btn"
                onclick="window.location.href='/myaccount-profile-edit.html'">Edit</button>
            </div>
            <ul class="profilecustomer__details">
              <li>
                <label>First Name</label>
                <span>Rihanna</span>
              </li>
              <li>
                <label>Last Name</label>
                <span>Willson</span>
              </li>
              <li>
                <label>Email Address</label>
                <span>rihanna@gmail.com</span>
              </li>
              <li>
                <label>Phone Number</label>
                <span>+1 (678) 544-9399</span>
              </li>
            </ul>
      
          </div>
      
          <div class="profilecustomer card-block">
            <div class="profilecustomer__header card-block-header align-items-center">
              <h4 class="title-5">Change Password</h4>
              <button class="btn btn-secondary edit-btn">Change</button>
            </div>
          </div>
      
        </div>
      
      </div><!-- end container -->

    </div><!-- end myaccount__wrapper -->
  </section>
</div><!-- end container -->

{% endblock %}
<!-- footer scripts -->
{% block included_content %}
<!-- scripts -->
<script src="js/categories.min.js"></script>
{% endblock %}