<!-- layout -->
{% extends "../layouts/default.twig" %}
{% set page = 'wishlist' %}

{% block content %}

<div class="container">
  <!-- my account -->
  <section class="myaccount">
    <div class="myaccount__header">
      <div class="myaccount__header-wrapper">
        <h2 class="title-3">Wishlist</h2>
        <span class="myaccount-info">Saved item 40</span>
      </div>
      <!-- breadcrums -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
          <li class="breadcrumb-item" aria-current="page">My Account</li>
        </ol>
      </nav>
    </div>

    <!-- __wrapper"> -->
    <div class="myaccount__wrapper">
      {% include "../components/myaccount-navbar.twig" %}
      <!-- dashboard -->
      <div class="myaccount__wrapper-container">


        <!-- address -->
        <div class="account__wishlist">

          <!-- productcard -->
          <div class="product-card">
            <a href="product.html" class="link--overlap">view</a>
            <figure class="product-card__image">
              <picture class="lazyload product--image-product">
                <source
                  srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 1200px)">
                <source
                  srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 800px)">
                <img
                  srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  alt="…">
              </picture>

              <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
            </figure>
            <div class="product-card__details">
              <label class="stock">New Arrival</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
              <ul class="product-card__details-colors">
                <li><span class="color color-golden"></span></li>
                <li><span class="color color-silver"></span></li>
                <li><span class="color color-rosegold"></span></li>
                <li><span class="color color-twotone"></span></li>
                <li><span class="color color-tritone"></span></li>
              </ul>
              <div class="product--info-wrapper product-actions">
                <button class="btn btn-border">Move to cart</button>
              </div>
            </div>
          </div>

          <!-- productcard -->
          <div class="product-card">
            <a href="product.html" class="link--overlap">view</a>
            <figure class="product-card__image">
              <picture class="lazyload product--image-product">
                <source
                  srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 1200px)">
                <source
                  srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 800px)">
                <img
                  srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  alt="…">
              </picture>

              <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
            </figure>
            <div class="product-card__details">
              <label class="stock">New Arrival</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
              <ul class="product-card__details-colors">
                <li><span class="color color-golden"></span></li>
                <li><span class="color color-silver"></span></li>
                <li><span class="color color-rosegold"></span></li>
                <li><span class="color color-twotone"></span></li>
                <li><span class="color color-tritone"></span></li>
              </ul>
              <div class="product--info-wrapper product-actions">
                <button class="btn btn-border">Move to cart</button>
              </div>
            </div>
          </div>

          <!-- productcard -->
          <div class="product-card">
            <a href="product.html" class="link--overlap">view</a>
            <figure class="product-card__image">
              <picture class="lazyload product--image-product">
                <source
                  srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 1200px)">
                <source
                  srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 800px)">
                <img
                  srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  alt="…">
              </picture>

              <button type="button" onclick="alert('delete product')" class="product-delete icon-b icon--close-white"
                data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </figure>
            <div class="product-card__details">
              <label class="stock">New Arrival</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
              <ul class="product-card__details-colors">
                <li><span class="color color-golden"></span></li>
                <li><span class="color color-silver"></span></li>
                <li><span class="color color-rosegold"></span></li>
                <li><span class="color color-twotone"></span></li>
                <li><span class="color color-tritone"></span></li>
              </ul>
              <div class="product--info-wrapper product-actions">
                <button class="btn btn-disable">Out of Stock</button>
              </div>
            </div>
          </div>

          <!-- productcard -->
          <div class="product-card">
            <a href="product.html" class="link--overlap">view</a>
            <figure class="product-card__image">
              <picture class="lazyload product--image-product">
                <source
                  srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 1200px)">
                <source
                  srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 800px)">
                <img
                  srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  alt="…">
              </picture>

              <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
            </figure>
            <div class="product-card__details">
              <label class="stock">New Arrival</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
              <ul class="product-card__details-colors">
                <li><span class="color color-golden"></span></li>
                <li><span class="color color-silver"></span></li>
                <li><span class="color color-rosegold"></span></li>
                <li><span class="color color-twotone"></span></li>
                <li><span class="color color-tritone"></span></li>
              </ul>
              <div class="product--info-wrapper product-actions">
                <button class="btn btn-border">Move to cart</button>
              </div>
            </div>
          </div>

          <!-- productcard -->
          <div class="product-card">
            <a href="product.html" class="link--overlap">view</a>
            <figure class="product-card__image">
              <picture class="lazyload product--image-product">
                <source
                  srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 1200px)">
                <source
                  srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 800px)">
                <img
                  srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  alt="…">
              </picture>

              <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
            </figure>
            <div class="product-card__details">
              <label class="stock">New Arrival</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
              <ul class="product-card__details-colors">
                <li><span class="color color-golden"></span></li>
                <li><span class="color color-silver"></span></li>
                <li><span class="color color-rosegold"></span></li>
                <li><span class="color color-twotone"></span></li>
                <li><span class="color color-tritone"></span></li>
              </ul>
              <div class="product--info-wrapper product-actions">
                <button class="btn btn-border">Move to cart</button>
              </div>
            </div>
          </div>

          <!-- productcard -->
          <div class="product-card">
            <a href="product.html" class="link--overlap">view</a>
            <figure class="product-card__image">
              <picture class="lazyload product--image-product">
                <source
                  srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 1200px)">
                <source
                  srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  media="(min-width: 800px)">
                <img
                  srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                  alt="…">
              </picture>

              <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
            </figure>
            <div class="product-card__details">
              <label class="stock">New Arrival</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
              <ul class="product-card__details-colors">
                <li><span class="color color-golden"></span></li>
                <li><span class="color color-silver"></span></li>
                <li><span class="color color-rosegold"></span></li>
                <li><span class="color color-twotone"></span></li>
                <li><span class="color color-tritone"></span></li>
              </ul>
              <div class="product--info-wrapper product-actions">
                <button class="btn btn-border">Move to cart</button>
              </div>
            </div>
          </div>



        </div>
      </div><!-- end container -->

    </div><!-- end myaccount__wrapper -->
  </section>
</div><!-- end container -->

{% endblock %}
<!-- footer scripts -->
{% block included_content %}
<!-- scripts -->
<script src="js/categories.min.js"></script>
{% endblock %}