<div class="ib-header-top">
  <div class="ib-header__inner">
    top buttons
  </div>
</div>

<div class="ib-header-bottom">
  <div class="ib-header__inner">
    <div class="ib-header-logo">logo</div>
    <div class="ib-header-navbar">navbar</div>
    <div class="ib-header-rightside-menu">right menu</div>
  </div>
</div>

