<!-- layout -->
{% extends "../layouts/default.twig" %}



{% block content %}
<section class="p-container">
  <!-- breadcrums -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Pendants</a></li>
      <li class="breadcrumb-item" aria-current="page">Gold Pendants</li>
    </ol>
  </nav>

  <!-- product-wrapper -->
  <div class="p-wrapper">
    <!-- p-gallery -->
    <div class="col-md-7 col-lg-8 col-xl-8">
      <div class="rslides-container">
        <ul class="rslides rslides1" id="main_slides" style="max-width: 1170px;">
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s0" class="rslides1_on"
            style="float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://www.icebox.com/uploads/watermarked/47b8d99bf144ecb5ff87577e07a22be6.jpg"
              itemprop="contentUrl"
              src="https://www.icebox.com/uploads/watermarked/47b8d99bf144ecb5ff87577e07a22be6.jpg"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s1"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="http://nd.icebox.com/uploads/ca800d016d6496211585b77144e94951.jpg" itemprop="contentUrl"
              src="http://nd.icebox.com/uploads/ca800d016d6496211585b77144e94951.jpg"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s2"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://images.unsplash.com/photo-1526914383140-112d83e90d80?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
              itemprop="contentUrl"
              src="https://images.unsplash.com/photo-1526914383140-112d83e90d80?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s3"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://images.unsplash.com/photo-1541778480-fc1752bbc2a9?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1718&amp;q=80"
              itemprop="contentUrl"
              src="https://images.unsplash.com/photo-1541778480-fc1752bbc2a9?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1718&amp;q=80"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s4"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://images.unsplash.com/photo-1511745564573-fec5d8b7e907?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1834&amp;q=80"
              itemprop="contentUrl"
              src="https://images.unsplash.com/photo-1511745564573-fec5d8b7e907?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1834&amp;q=80"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s5"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://images.unsplash.com/photo-1562887085-d0aa7ff20b95?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1489&amp;q=80"
              itemprop="contentUrl"
              src="https://images.unsplash.com/photo-1562887085-d0aa7ff20b95?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1489&amp;q=80"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s6"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://images.unsplash.com/photo-1561060511-78b14b799fe1?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
              itemprop="contentUrl"
              src="https://images.unsplash.com/photo-1561060511-78b14b799fe1?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s7"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://images.unsplash.com/photo-1571859939884-50b51d4cbc90?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
              itemprop="contentUrl"
              src="https://images.unsplash.com/photo-1571859939884-50b51d4cbc90?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s8"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://i.pinimg.com/736x/97/fe/8b/97fe8bfdc8ff213bd36237696f99edd7.jpg"
              itemprop="contentUrl" src="https://i.pinimg.com/736x/97/fe/8b/97fe8bfdc8ff213bd36237696f99edd7.jpg"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
          <li itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" data-color="Yellow"
            id="rslides1_s9"
            style="float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
            <img class="main-slide-img zoomImg"
              data-img-tag="https://www.icebox.com/uploads/cd0218ff1bc0efdd4c8b4ce9be179d6d_slide_resize.jpg?v=5e230dc0c4534"
              itemprop="contentUrl"
              src="https://www.icebox.com/uploads/cd0218ff1bc0efdd4c8b4ce9be179d6d_slide_resize.jpg?v=5e230dc0c4534"
              alt="Maple Leaf Pendant 14K Yellow Gold 0.13ctw" title="Maple Leaf Pendant 14K Yellow Gold 0.13ctw">
          </li>
        </ul><a href="#" class="rslides_nav rslides1_nav prev">Previous</a><a href="#"
          class="rslides_nav rslides1_nav next">Next</a>
      </div>
      <div class="product_thumbnails_row">
        <div class="thumnails__wrapper_buttons">
          <button onclick="slideLeft();" class="slider-btn slider-btn--left" id="slide_left_btn">
            <i class="icon--arrow-up" aria-hidden="true"></i>
          </button>
          <button onclick="slideRight();" id="slide_right_btn" class="slider-btn slider-btn--right">
            <i class="icon--arrow-down" aria-hidden="true"></i>
          </button>
        </div>
        <div class="frame">
          <ul id="unique-pager" class="rslides_tabs rslides1_tabs">
            <li class="rslides_tab rslides1_s1 rslides_here" data-color="Yellow" data-index="0"
              style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://www.icebox.com/uploads/watermarked/47b8d99bf144ecb5ff87577e07a22be6.jpg" alt=""
                    title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s2" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl" src="http://nd.icebox.com/uploads/ca800d016d6496211585b77144e94951.jpg"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s3" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://images.unsplash.com/photo-1526914383140-112d83e90d80?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s4" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://images.unsplash.com/photo-1541778480-fc1752bbc2a9?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1718&amp;q=80"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s5" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://images.unsplash.com/photo-1511745564573-fec5d8b7e907?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1834&amp;q=80"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s6" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://images.unsplash.com/photo-1562887085-d0aa7ff20b95?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1489&amp;q=80"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s7" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://images.unsplash.com/photo-1561060511-78b14b799fe1?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s8" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://images.unsplash.com/photo-1571859939884-50b51d4cbc90?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                    alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s9" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://i.pinimg.com/736x/97/fe/8b/97fe8bfdc8ff213bd36237696f99edd7.jpg" alt="" title="">
                </figure>
              </a>
            </li>
            <li class="rslides_tab rslides1_s10" data-color="Yellow" data-index="0" style="border:1px #eee solid">
              <a href="#" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
                <figure>
                  <img itemprop="contentUrl"
                    src="https://www.icebox.com/uploads/cd0218ff1bc0efdd4c8b4ce9be179d6d_slide_resize.jpg?v=5e230dc0c4534"
                    alt="" title="">
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end p-gallery -->

    <!-- p-information -->
    <div class="col-md-5 col-lg-4 col-xl-4">
      <div class="order-information">
        <h1 class="product__title">
          Diamond and Square Ring in 18k Rose Gold Color
        </h1>
        <!-- pricing -->
        <div class="product__price">
          <span class="product__price-value">$ 350</span>
          <span class="product__stock-inventory --green">In Stock</span>
          <span class="product__stock-inventory --red">Only 2 items left</span>
        </div>
        <!-- colors -->
        <div class="product__color">
          <h4 class="product-subtitle">
            Color <span class="color-selected">Rose Gold</span>
          </h4>
          <ul class="product__color-choose">
            <li>
              <input type="radio" name="colour" id="golden" class="check_in">
              <label for="golden"></label>
              <div class="check color--golden"></div>
            </li>
            <li>
              <input type="radio" name="colour" id="silver" class="check_in">
              <label for="silver"></label>
              <div class="check color--silver"></div>
            </li>
            <li>
              <input type="radio" name="colour" id="rosegold" class="check_in">
              <label for="rosegold"></label>
              <div class="check color--rose"></div>
            </li>
            <li>
              <input type="radio" name="colour" id="twotone-wy" class="check_in">
              <label for="twotone-wy"></label>
              <div class="check color--twotone-wy"></div>
            </li>
            <li>
              <input type="radio" name="colour" id="twotone-wr" class="check_in">
              <label for="twotone-wr"></label>
              <div class="check color--twotone-wr"></div>
            </li>
            <li>
              <input type="radio" name="colour" id="triTone" class="check_in">
              <label for="triTone"></label>
              <div class="check color--tritone"></div>
            </li>
            <li>
              <input type="radio" name="colour" id="colorBlue" class="check_in">
              <label for="colorBlue"></label>
              <div class="check color--blue"></div>
            </li>
          </ul>
        </div>
        <!-- end product__color -->
        <!-- diamond quality -->
        <div class="diamond margin-b-16">
          <h4 class="product-subtitle">Diamond Quality</h4>
          <ul class="diamond__choose">
            <li>
              <div class="icon-m"><img src="img/icons/si.svg" alt=""></div>
              <span class="diamond-title">SI</span>
            </li>
            <li>
              <div class="icon-m"><img src="img/icons/vs.svg" alt=""></div>
              <span class="diamond-title">VS</span>
            </li>
            <li>
              <div class="icon-m"><img src="img/icons/vvs.svg" alt=""></div>
              <span class="diamond-title">VVS</span>
            </li>
          </ul>
        </div>
        <!-- end diamond quality -->
        <!-- add neckless -->
        <div class="necklace__cta" data-toggle="modal" data-target="#accessoriesModal">
          <div class="necklace__cta-icon icon--add-plus"></div>
          <div class="necklace__cta-info">
            <div class="necklace__cta-info-title">Add Necklace</div>
            <span class="necklace__cta-info-overline">We’ve best matching necklaces for you</span>
          </div>
        </div>

        <div class="container-options">
          <!-- wrapper options -->
          <div class="container-options__dropdown">
            <div class="container-options__dropdown_wrapper">
              <div class="container-options__dropdown_wrapper_container">
                <h4 class="container-options__dropdown_wrapper_title">Sizes</h4>
              </div>
              <button class="btn container-options__dropdown_wrapper_button" type="button" data-toggle="collapse"
                data-target="#option-3" aria-expanded="false" aria-controls="option-3">
                Pair<i class="icon--arrowdown"></i>
              </button>
            </div>
            <div class="collapse container-options__collapse" id="option-3">
              <ul class="container-options__collapse_options">
                <li><a href="#">Small</a></li>
                <li><a href="#">Medium</a></li>
                <li><a href="#">Large</a></li>
                <li><a href="#">Extra Large</a></li>
              </ul>
            </div>
          </div>
          <!-- end dropdown -->
          <div class="container-options__dropdown">
            <div class="container-options__dropdown_wrapper">
              <div class="container-options__dropdown_wrapper_container">
                <h4 class="container-options__dropdown_wrapper_title">
                  Earrning Options
                </h4>
              </div>
              <button class="btn container-options__dropdown_wrapper_button" type="button" data-toggle="collapse"
                data-target="#option-1" aria-expanded="false" aria-controls="option-1">
                Pair<i class="icon--arrowdown"></i>
              </button>
            </div>
            <div class="collapse container-options__collapse" id="option-1">
              <ul class="container-options__collapse_options">
                <li><a href="#">Pair</a></li>
                <li><a href="#">Single</a></li>
              </ul>
            </div>
          </div>
          <!-- end dropdown -->
          <div class="container-options__dropdown">
            <div class="container-options__dropdown_wrapper">
              <div class="container-options__dropdown_wrapper_container">
                <h4 class="container-options__dropdown_wrapper_title">
                  Necklace Length
                </h4>
                <a href="#">Size Guide</a>
              </div>
              <button class="btn container-options__dropdown_wrapper_button" type="button" data-toggle="collapse"
                data-target="#option-2" aria-expanded="false" aria-controls="option-2">
                16<i class="icon--arrowdown"></i>
              </button>
            </div>
            <div class="collapse container-options__collapse" id="option-2">
              <ul class="container-options__collapse_sizes">
                <li><a class="seleted" href="#">16</a></li>
                <li><a href="#">18</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">22</a></li>
                <li><a href="#">24</a></li>
              </ul>
            </div>
          </div>
          <!-- end dropdown -->
        </div>
        <!-- end container option -->
        <!-- Button -->
        <button class="btn btn-primary add__cart_btn" href="#" target="_blank" role="button">
          <span class="add__cart_btn_action">Add to Cart</span>
          <span class="add__cart_btn_value">$700</span>
          <span class="add__cart_btn_icon icon--cart-white">bag</span>
        </button>
        <div class="accordion js-accordion">
          <div class="accordion__item js-accordion-item active">
            <div class="accordion-header js-accordion-header product-subtitle">
              Description
            </div>
            <div class="accordion-body js-accordion-body" style="display: block;">
              <div class="accordion-body__contents">
                <p class="collapse wrapper-info" id="collapseSummary">
                  This Icebox Diamond Letter Pendant is made of 14K Yellow gold
                  with 0.10ctw of diamonds. This piece is handcrafted and
                  manufactured by Icebox. This piece is made of solid Yellow
                  gold.
                </p>
                <a class="collapsed wrapper-btn" data-toggle="collapse" href="#collapseSummary" aria-expanded="false"
                  aria-controls="collapseSummary"></a>
                <div class="shipping-details">
                  <div class="shipping-wrapper">
                    <div class="shipping-items">
                      <div class="icon-wrapper">
                        <img src="img/icons/icon-freeshipping.svg" alt="">
                      </div>
                      <h5>Free Shipping with insured</h5>
                    </div>
                    <div class="shipping-items">
                      <div class="icon-wrapper">
                        <img src="img/icons/icon-guaranteed.svg" alt="">
                      </div>
                      <h5>Guaranteed to your door</h5>
                    </div>
                    <div class="shipping-items">
                      <div class="icon-wrapper">
                        <img src="img/icons/icon-signature.svg" alt="">
                      </div>
                      <h5>Signature is required</h5>
                    </div>
                  </div>
                </div>

                <div class="info-pop gary-color">
                  <p>
                    Standard shipping business 7-5days.
                    <a href="#">Know more about shipping?</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of accordion item -->
          <div class="accordion__item js-accordion-item margin-b-24">
            <div class="accordion-header js-accordion-header product-subtitle">
              Item Details
            </div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                <ul class="accordion-item-details">
                  <li>
                    <span class="title">Icebox</span>
                    <label>Jewelry Brand</label>
                  </li>
                  <li>
                    <span class="title">Unisex</span>
                    <label>Gender</label>
                  </li>
                  <li>
                    <span class="title">14K</span>
                    <label>Metal Purity</label>
                  </li>
                  <li>
                    <span class="title">0.27ctw</span>
                    <label>Total Diamond Weight</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of accordion item -->
        </div>
        <!-- end of accordion -->
        <!-- Button -->
        <button class="btn btn-ask-question btn-secondary" href="#" target="_blank" role="button">
          <span>Ask a question</span>
        </button>
      </div>
      <!-- end order-information -->
    </div>
    <!-- end p-information -->
  </div>
  <!-- end product-wrapper -->
</section>

<section class="best-seller">
  <div class="container">
    <div class="section-header section-header--flex">
      <h3>You may also like</h3>
    </div>

    <div class="best-seller-wrapper layout--grid layout--products">
      {% for i in 1..8 %}
      {% include '../components/productcart.twig' with {'objects':i} %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}


<!-- footer scripts -->
{% block included_content %}
<!-- scripts -->
<script src="js/product.min.js"></script>
s
{% endblock %}