<!-- layout -->
{% extends "../layouts/default.twig" %}
{% block included_content_header %}
{% include "../components/promo1.twig" %}
{% endblock %}
{% block content %}


<div class="ib-resultpage">

  <div class="o-container">
    <div class="ib-resultpage__promotion promo--discount mt-4">
      <h5 class="promotion-title">Get 5% Discounts Rolex Watches</h5>
      <p class="promotion-details">Log In to Your Icebox Account and Use Code <span class="--discount bold">SAVE5</span>
        at
        Checkout. Exclusions Apply.</p>
    </div>
    <div class="i-alert i-alert--is-important mb-4 mt-3">
      <div class="wrap">
        <div class="i-alert__wrapper">
          <aside role="icon">
            <svg class="svgIcon-root" viewBox="0 0 17 22">
              <path fill="#4D2D01"
                d="M12.012 0l2.016 4.689A8.418 8.418 0 0116.872 11c0 2.508-1.1 4.764-2.844 6.311L12.012 22H4.86l-2.016-4.689A8.417 8.417 0 010 11a8.418 8.418 0 012.845-6.311L4.86 0h7.15zm-.85 1.29H5.71l-.901 2.095c1.1-.526 2.33-.821 3.627-.821 1.298 0 2.528.295 3.628.82l-.901-2.095zM5.71 20.71h5.453l.9-2.095c-1.099.526-2.329.821-3.627.821a8.386 8.386 0 01-3.627-.82l.9 2.095zM1.289 11c0 3.941 3.206 7.147 7.147 7.147 3.941 0 7.147-3.206 7.147-7.147 0-3.94-3.206-7.147-7.147-7.147-3.94 0-7.147 3.206-7.147 7.147zm2.062-2.192l.644-1.116 1.588.916-.644 1.117-1.588-.917zm1.587 3.467l-1.587.917.644 1.116 1.588-.916-.645-1.117zm2.854 2.392H9.08V16.5H7.79v-1.833zm4.142-2.391l-.645 1.116 1.588.917.644-1.117-1.587-.916zM9.08 9.884l3.002-1.734.645 1.117-3.97 2.291L7.792 11V5.5H9.08v4.384z">
              </path>
            </svg>
          </aside>
          <span class="message message--is-bigger">This watch has been customized with aftermarket bezel and or
            diamonds
            by icebox and has no factory warranty.</span>
        </div>
        <button class="btn-close">
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 18 18">
            <path
              d="M14.25 2.25L9 7.5 3.75 2.25l-1.5 1.5L7.5 9l-5.25 5.25 1.5 1.5L9 10.5l5.25 5.25 1.5-1.5L10.5 9l5.25-5.25-1.5-1.5z">
            </path>
          </svg>
        </button>
      </div>
    </div>

    <div class="ib-resultpage__header">
      <h1 class="ib-result-title">Pendants <span>230</span></h1>
      <div class="filter-toggle filter-toggle--mobile">
        <label class="form-switch">
          <input type="checkbox" id="switchToggleShips">
          <span></span>
          <label for="switchToggleShips" class="filter-toggle-title">Ships Today</label>
        </label>
      </div>
    </div><!-- end -->
  </div>

  <div class="ib-resultpage__main" data-sticky-container>
    <div class="o-container">
      <div class="wrap">

        <!-- disktop -->
        <div class="ib-filter ib-filter--desktop">
          <div class="ib-filter__row" data-sticky data-sticky-wrap="true" data-margin-top="10" data-sticky-for="768"
            data-sticky-class="is-sticky">
            <!-- filter -->
            <div class="ib-filter-panel">
              <div class="ib-filter-panel__container">
                <div class="btn-filter" role="category">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Category</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <ul class="options-filter-list">
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="pendants" checked>
                            <label for="pendants">
                              <span class="title">Pendants</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="rings">
                            <label for="rings">
                              <span class="title">Rings</span>
                              <span class="stock-available">300</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="necklaces">
                            <label for="necklaces">
                              <span class="title">Necklaces</span>
                              <span class="stock-available">340</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="earrings">
                            <label for="earrings">
                              <span class="title">Earrings</span>
                              <span class="stock-available">454</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="bracelets">
                            <label for="bracelets">
                              <span class="title">Bracelets</span>
                              <span class="stock-available">343</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="watches">
                            <label for="watches">
                              <span class="title">Watches</span>
                              <span class="stock-available">346</span>
                            </label>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-filter" role="gender">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Gender</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container options-filter-container--smaller">
                    <ul class="options-filter-list">
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="male">
                            <label for="male">
                              <span class="title">Male</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="women">
                            <label for="women">
                              <span class="title">Women</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">Unisex</span>
                            </label>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-filter" role="price">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Price</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <ul class="options-filter-list">
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="all">
                            <label for="all">
                              <span class="title">All</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="women">
                            <label for="women">
                              <span class="title">$500 & Under</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">$500-1000</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">$500-1000</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">$500-1000</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">$500-1000</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-filter" role="products">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Products</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <ul class="options-filter-list">
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="all">
                            <label for="all">
                              <span class="title">All</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="women">
                            <label for="women">
                              <span class="title">Other Pendants</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">Religious</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">Animals</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">Hearts</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="filter-type-list-submenu">
                          <div class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox" id="unisex">
                            <label for="unisex">
                              <span class="title">Photo Pendants</span>
                              <span class="stock-available">200</span>
                            </label>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-filter" role="color">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Color</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <ul class="colornav-items options-filter-type-colors">
                      <li class="colornav-item">
                        <input type="radio" name="color" id="color-gold" value="color-gold" class="colornav-value"
                          checked="">
                        <label for="color-gold" class="colornav-link">
                          <span class="color--golden colornav-switch"></span>
                        </label>
                        <span class="color-title">Yellow</span>
                      </li>
                      <li class="colornav-item">
                        <input type="radio" name="color" id="color-silver" value="color-silver" class="colornav-value">
                        <label for="color-silver" class="colornav-link">
                          <span class="color--silver colornav-switch"></span>
                        </label>
                        <span class="color-title">White Gold</span>
                      </li>
                      <li class="colornav-item">
                        <input type="radio" name="color" id="color-rosegold" value="color-rosegold"
                          class="colornav-value">
                        <label for="color--rosegold" class="colornav-link">
                          <span class="color--rose colornav-switch"></span>
                        </label>
                        <span class="color-title">Rose</span>
                      </li>
                      <li class="colornav-item">
                        <input type="radio" name="color" id="color-twotone" value="color-twotone"
                          class="colornav-value">
                        <label for="color-twotone" class="colornav-link">
                          <span class="color--twotone-wr colornav-switch"></span>
                        </label>
                        <span class="color-title">Color</span>
                      </li>
                      <li class="colornav-item">
                        <input type="radio" name="color" id="color-tritone-wy" value="color-tritone-wy"
                          class="colornav-value">
                        <label for="color-tritone-wy" class="colornav-link">
                          <span class="color--twotone-wy colornav-switch"></span>
                        </label>
                        <span class="color-title">Color</span>
                      </li>
                      <li class="colornav-item">
                        <input type="radio" name="color" id="color-tritone" value="color-tritone"
                          class="colornav-value">
                        <label for="color-tritone" class="colornav-link">
                          <span class="color--tritone colornav-switch"></span>
                        </label>
                        <span class="color-title">Color</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="btn-filter" role="sizes">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">One</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <div class="selectOption options-filter-list options-filter-list-option-one">
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                    </div>
                  </div>
                </div>
                <div class="btn-filter" role="sizes">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Two</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <div class="selectOption options-filter-list options-filter-list-option-two">
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                    </div>
                  </div>
                </div>
                <div class="btn-filter" role="sizes">
                  <div class="btn-filter__btn">
                    <span title="category" class="btn-filter__btn--label">Three</span>
                    <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                      <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                  </div>
                  <div class="options-filter-container">
                    <div class="selectOption options-filter-list options-filter-list-option-three">
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                      <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="ib-filter-panel__secondary">
              <div class="filter-logo">
                <svg width="91" height="15" viewBox="0 0 91 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M73.8731 4.47246C73.5589 3.65028 73.1045 2.88984 72.5304 2.22548C71.9819 1.59015 71.3217 1.06256 70.5829 0.669305C69.8728 0.2843 69.0887 0.0581776 68.284 0.00634704C67.4538 -0.0335685 66.6252 0.115172 65.8596 0.441571C64.9713 0.82511 64.1847 1.41361 63.5633 2.15969C62.3135 3.52791 61.6325 5.32772 61.6609 7.18754C61.6324 9.04814 62.3133 10.8488 63.5633 12.2179C64.1861 12.9626 64.9723 13.5508 65.8596 13.936C67.3842 14.5937 69.1234 14.5117 70.5804 13.7134C71.3206 13.3244 71.982 12.7992 72.5304 12.1648C73.1059 11.5019 73.5612 10.7422 73.8756 9.92035C74.2131 9.05234 74.3835 8.12744 74.3776 7.19514C74.3835 6.26365 74.2132 5.33957 73.8756 4.47246H73.8731ZM71.3659 9.65213C71.3638 10.2046 71.3134 10.7558 71.2153 11.2994C71.1262 11.8441 70.8979 12.356 70.5528 12.7847C70.2666 13.1746 69.8703 13.4683 69.4159 13.6273C68.9614 13.7853 68.4837 13.8648 68.0029 13.8627C67.4426 13.8819 66.8858 13.7656 66.3791 13.5236C65.9636 13.3119 65.6079 12.9977 65.3451 12.6101C65.0808 12.2061 64.8999 11.7526 64.8131 11.2766C64.7079 10.7417 64.6566 10.1974 64.66 9.65213V4.74067C64.6612 4.19138 64.7124 3.64336 64.8131 3.10352C64.9042 2.55604 65.1313 2.04072 65.4731 1.60554C65.7564 1.22086 66.1457 0.928703 66.5925 0.765459C67.0437 0.608588 67.5181 0.529878 67.9954 0.532665C68.5557 0.513449 69.1125 0.62971 69.6192 0.871735C70.0325 1.0823 70.3871 1.39369 70.6507 1.77761C70.9156 2.18267 71.1005 2.63544 71.1953 3.11111C71.3063 3.64615 71.361 4.19152 71.3584 4.73814L71.3659 9.65213ZM21.9097 11.7321C22.0407 11.4437 22.1531 11.147 22.246 10.8439L22.2535 10.8389C22.3423 10.5639 22.4127 10.2832 22.4644 9.99879H21.8595C21.706 10.5703 21.508 11.1287 21.2672 11.6688C21.0419 12.2173 20.6786 12.6969 20.2132 13.0605C19.4611 13.6243 18.5393 13.9094 17.6031 13.8677C17.1513 13.8456 16.7088 13.7302 16.303 13.5287C15.8824 13.3176 15.5202 13.0046 15.249 12.6177C14.9062 12.1366 14.6723 11.5855 14.5638 11.0033C14.4279 10.3482 14.344 9.6831 14.3128 9.01447C14.2827 8.32874 14.2827 7.65819 14.3128 7.00283C14.343 6.34746 14.3605 5.78825 14.3605 5.32013C14.3606 4.74209 14.4068 4.165 14.4986 3.59442C14.579 3.05243 14.7559 2.52954 15.0206 2.05089C15.2746 1.59965 15.6382 1.22089 16.0772 0.950176C16.5989 0.650409 17.1938 0.504839 17.7938 0.530134C18.2034 0.528966 18.6103 0.595644 18.9985 0.727503C19.3909 0.861473 19.7652 1.04422 20.1128 1.27153C20.3448 1.43138 20.5506 1.62691 20.7226 1.85099C20.8988 2.0739 21.0472 2.3178 21.1643 2.57721C21.3971 3.09588 21.5657 3.64149 21.6663 4.2017H22.2711V0.226489H21.8068L20.9937 1.07922C20.5631 0.714489 20.0673 0.436203 19.533 0.259384C19.0006 0.0893646 18.4451 0.00399558 17.8867 0.00634675C17.0024 -0.00161402 16.128 0.193063 15.3293 0.575681C14.5408 0.959931 13.8348 1.49638 13.2512 2.15463C12.6213 2.83764 12.1325 3.64016 11.8132 4.51547C11.4992 5.40115 11.342 6.33558 11.3489 7.27611C11.3498 8.15615 11.5114 9.0285 11.8257 9.8495C12.1361 10.6783 12.5833 11.4483 13.1483 12.1268C13.7056 12.799 14.3876 13.3552 15.1561 13.764C15.9355 14.1785 16.8047 14.3915 17.6859 14.3839C18.2806 14.3859 18.8723 14.3007 19.4427 14.1309C20.0103 13.9597 20.5274 13.6503 20.9485 13.2301C21.1455 13.0276 21.3205 12.8045 21.4705 12.5646C21.6368 12.2982 21.7836 12.02 21.9097 11.7321ZM2.0178 0.950176V14.1891H6.63566V13.6754H4.61534V0.950176H6.63566V0.436511H0V0.950176H2.0178ZM56.1396 11.932C55.9074 12.4101 55.5628 12.8236 55.1357 13.1365C54.6108 13.5135 54.0117 13.7724 53.3789 13.8956C52.7479 14.0189 52.1067 14.0816 51.464 14.0828H46.2689V0.833779H44.2611V0.327704H51.0574C51.6827 0.330753 52.3069 0.381505 52.9246 0.479527C53.5569 0.566479 54.165 0.782595 54.7115 1.11465C55.1106 1.3628 55.4384 1.71169 55.6627 2.1268C55.8745 2.51564 55.9939 2.94872 56.0116 3.39199C56.0224 3.83383 55.9367 4.27268 55.7606 4.67741C55.5776 5.10546 55.2942 5.48231 54.9349 5.7756C54.5343 6.13455 54.0643 6.40594 53.5546 6.57266C53.0447 6.74152 52.5217 6.8668 51.991 6.94716C52.5004 6.99978 53.0043 7.09715 53.4968 7.23815C54.0072 7.38007 54.4954 7.59298 54.9474 7.87075C55.3801 8.13488 55.7515 8.48952 56.0367 8.91073C56.3287 9.35115 56.4794 9.87145 56.4683 10.4011C56.4763 10.9295 56.3656 11.4528 56.1446 11.932H56.1396ZM53.1129 2.4937C53.048 2.14092 52.9009 1.80873 52.6837 1.52457C52.4792 1.27352 52.2047 1.09017 51.8956 0.998253C51.5595 0.895609 51.2124 0.833602 50.8616 0.813536C50.5024 0.788229 50.1418 0.788229 49.7825 0.813536C49.4261 0.836309 49.1249 0.846431 48.879 0.846431V6.71689C49.5583 6.71689 50.1656 6.7093 50.701 6.69412C51.1682 6.69327 51.63 6.59326 52.0563 6.4006C52.4398 6.20828 52.7437 5.88571 52.9146 5.48966C53.1465 4.89077 53.25 4.24918 53.2183 3.60707C53.2173 3.23765 53.182 2.86913 53.1129 2.50635V2.4937ZM50.9796 7.20779C51.3353 7.23895 51.6859 7.31373 52.0236 7.43046L52.0362 7.4001C52.3622 7.51427 52.6535 7.71122 52.882 7.97196C53.0872 8.22881 53.2407 8.52365 53.3337 8.83988C53.4541 9.2152 53.5316 9.60318 53.5646 9.99626C53.6035 10.4178 53.5926 10.8425 53.532 11.2614C53.477 11.6562 53.3672 12.0413 53.2057 12.4052C53.0601 12.7351 52.8349 13.023 52.5507 13.2427C52.2656 13.4571 51.9173 13.5685 51.5619 13.559H48.8715V7.23309C49.1726 7.23309 49.5064 7.22044 49.8753 7.19514C50.2433 7.17274 50.6123 7.17697 50.9796 7.20779ZM84.0023 14.0727V13.559H86.0878L82.888 8.36417L78.9904 14.0955H78.2701L82.5165 7.82773L78.2927 0.833779H76.7392V0.320113H81.219V0.833779L84.07 5.55799L87.295 0.833779H87.3176V0.320113H89.9176V0.833779H87.9902L84.3938 6.09696L89.1271 13.559H90.658V14.0727H84.0023ZM36.0745 13.3591C36.5894 13.1901 37.0416 12.8682 37.372 12.4355L37.3795 12.4279C37.7382 11.9115 37.9939 11.3297 38.1324 10.7149H38.7975L38.672 14.0651H27.421V13.559H29.4288V0.826188H27.421V0.320113H38.6645L38.795 3.84239H38.1701C38.0321 3.16513 37.7579 2.52356 37.3645 1.95726C37.0349 1.52384 36.5824 1.20173 36.0669 1.03368C35.4975 0.862565 34.9039 0.78733 34.3102 0.811006C33.6442 0.826188 32.8863 0.833779 32.0364 0.833779V6.75485C32.2848 6.75485 32.6287 6.77003 33.0704 6.8004C33.5217 6.82833 33.9743 6.82833 34.4256 6.8004C34.8105 6.78149 35.1911 6.71086 35.5575 6.59038C35.9258 6.50615 36.2539 6.29606 36.4861 5.99574C36.5639 5.88693 36.6341 5.79331 36.6944 5.71487C36.754 5.64112 36.8085 5.56334 36.8575 5.48207C36.9032 5.404 36.9346 5.3183 36.9504 5.22904C36.9596 5.1653 36.9655 5.1011 36.9679 5.03673H37.5627V9.5914H36.9629C36.962 9.07252 36.8111 8.56516 36.5287 8.13137C36.2368 7.74688 35.8232 7.47457 35.3567 7.35961C34.8833 7.22769 34.3906 7.18059 33.9011 7.22044C33.2812 7.2508 32.6638 7.26599 32.0439 7.26599V13.559C32.8905 13.559 33.6484 13.5666 34.3177 13.5818C34.9114 13.6055 35.505 13.5302 36.0745 13.3591Z"
                    fill="#1D2E70" />
                </svg>
              </div>
              <div class="filter-toggle">
                <label class="form-switch">
                  <input type="checkbox" id="switchToggleShips">
                  <span></span>
                  <label for="switchToggleShips" class="filter-toggle-title">Ships Today</label>
                </label>
              </div>
              <div class="btn-filter" role="sortby">
                <div class="btn-filter__btn">
                  <span title="category" class="btn-filter__btn--label">Sort by</span>
                  <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                    <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                </div>
                <div class="options-filter-container options-filter-container--right">
                  <ul class="options-filter-list">
                    <li>
                      <a href="#" class="filter-type-list-submenu">
                        <div class="checkbox-wrapper">
                          <input type="checkbox" class="checkbox" id="pendants" checked>
                          <label for="pendants">
                            <span class="title">Price (low - high)</span>
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="filter-type-list-submenu">
                        <div class="checkbox-wrapper">
                          <input type="checkbox" class="checkbox" id="necklaces">
                          <label for="necklaces">
                            <span class="title">Price (high - low)</span>
                          </label>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="filter-type-list-submenu">
                        <div class="checkbox-wrapper">
                          <input type="checkbox" class="checkbox" id="rings">
                          <label for="rings">
                            <span class="title">Newest</span>
                          </label>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end filter -->
          </div>
        </div>
        <!-- mobile -->
        <div class="ib-filter--mobile-actions">
          <div class="btn-filter__btn js-open-filters">
            <span title="category" class="btn-filter__btn--label">Filter by</span>
            <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
              <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
          </div>
          <select class="btn-filter__btn">
            <option value="Sortby">Sort By</option>
            <option value="saab">Newest</option>
            <option value="mercedes">Price: High-Low</option>
            <option value="mercedes">Price: Low-High</option>
            <option value="mercedes">Best Sellers</option>
            <option value="mercedes">Trending</option>
          </select>
        </div>

        <!-- filter mobile -->
        <div class="mobile-filter-wrapper">
          <div class="mobile-filter">
            <div class="wrap">

              <div class="mobile-filter__header">
                <h5 class="mobile-filter__header-title">Filters</h5>
                <div class="mobile-filter__header-actions">
                  <button class="btn-clear">Clear all</button>
                  <button class="btn-close  js-btn-close-filter">
                    <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 18 18">
                      <path
                        d="M14.25 2.25L9 7.5 3.75 2.25l-1.5 1.5L7.5 9l-5.25 5.25 1.5 1.5L9 10.5l5.25 5.25 1.5-1.5L10.5 9l5.25-5.25-1.5-1.5z">
                      </path>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="mobile-filter__container">
                <div class="ib-filter-panel js-mobile-filter">
                  <div class="ib-filter-panel__container">
                    <div class="btn-filter" role="category">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Category</span>
                        <div class="btn-filter__selected-row">
                          <span class="selected-label">Pendants</span>
                          <span class="selected-label">Rings</span>
                        </div>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <ul class="options-filter-list">
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="pendants" checked>
                                <label for="pendants">
                                  <span class="title">Pendants</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="rings" checked>
                                <label for="rings">
                                  <span class="title">Rings</span>
                                  <span class="stock-available">300</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="necklaces">
                                <label for="necklaces">
                                  <span class="title">Necklaces</span>
                                  <span class="stock-available">340</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="earrings">
                                <label for="earrings">
                                  <span class="title">Earrings</span>
                                  <span class="stock-available">454</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="bracelets">
                                <label for="bracelets">
                                  <span class="title">Bracelets</span>
                                  <span class="stock-available">343</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="watches">
                                <label for="watches">
                                  <span class="title">Watches</span>
                                  <span class="stock-available">346</span>
                                </label>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-filter" role="gender">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Gender</span>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <ul class="options-filter-list">
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="male">
                                <label for="male">
                                  <span class="title">Male</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="women">
                                <label for="women">
                                  <span class="title">Women</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">Unisex</span>
                                </label>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-filter" role="price">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Price</span>
                        <div class="btn-filter__selected-row">
                          <span class="selected-label">$500 & Under</span>
                        </div>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <ul class="options-filter-list">
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="all">
                                <label for="all">
                                  <span class="title">All</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="women">
                                <label for="women">
                                  <span class="title">$500 & Under</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">$500-1000</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">$500-1000</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">$500-1000</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">$500-1000</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-filter" role="products">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Products</span>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <ul class="options-filter-list">
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="all">
                                <label for="all">
                                  <span class="title">All</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="women">
                                <label for="women">
                                  <span class="title">Other Pendants</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">Religious</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">Animals</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">Hearts</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="filter-type-list-submenu">
                              <div class="checkbox-wrapper">
                                <input type="checkbox" class="checkbox" id="unisex">
                                <label for="unisex">
                                  <span class="title">Photo Pendants</span>
                                  <span class="stock-available">200</span>
                                </label>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-filter" role="color">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Color</span>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <ul class="colornav-items options-filter-type-colors">
                          <li class="colornav-item">
                            <input type="radio" name="color" id="color-gold" value="color-gold" class="colornav-value"
                              checked="">
                            <label for="color-gold" class="colornav-link">
                              <span class="color--golden colornav-switch"></span>
                            </label>
                            <span class="color-title">Yellow</span>
                          </li>
                          <li class="colornav-item">
                            <input type="radio" name="color" id="color-silver" value="color-silver"
                              class="colornav-value">
                            <label for="color-silver" class="colornav-link">
                              <span class="color--silver colornav-switch"></span>
                            </label>
                            <span class="color-title">White Gold</span>
                          </li>
                          <li class="colornav-item">
                            <input type="radio" name="color" id="color-rosegold" value="color-rosegold"
                              class="colornav-value">
                            <label for="color--rosegold" class="colornav-link">
                              <span class="color--rose colornav-switch"></span>
                            </label>
                            <span class="color-title">Rose</span>
                          </li>
                          <li class="colornav-item">
                            <input type="radio" name="color" id="color-twotone" value="color-twotone"
                              class="colornav-value">
                            <label for="color-twotone" class="colornav-link">
                              <span class="color--twotone-wr colornav-switch"></span>
                            </label>
                            <span class="color-title">Color</span>
                          </li>
                          <li class="colornav-item">
                            <input type="radio" name="color" id="color-tritone-wy" value="color-tritone-wy"
                              class="colornav-value">
                            <label for="color-tritone-wy" class="colornav-link">
                              <span class="color--twotone-wy colornav-switch"></span>
                            </label>
                            <span class="color-title">Color</span>
                          </li>
                          <li class="colornav-item">
                            <input type="radio" name="color" id="color-tritone" value="color-tritone"
                              class="colornav-value">
                            <label for="color-tritone" class="colornav-link">
                              <span class="color--tritone colornav-switch"></span>
                            </label>
                            <span class="color-title">Color</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="btn-filter" role="sizes">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">One</span>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <div class="selectOption options-filter-list options-filter-list-option-one">
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                        </div>
                      </div>
                    </div>
                    <div class="btn-filter" role="sizes">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Two</span>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <div class="selectOption options-filter-list options-filter-list-option-two">
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                        </div>
                      </div>
                    </div>
                    <div class="btn-filter" role="sizes">
                      <div class="btn-filter__btn">
                        <span title="category" class="btn-filter__btn--label">Three</span>
                        <svg viewBox="0 0 8 6" class="btn-filter__btn--icon" fill="none">
                          <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7.038 1.508L4.122 4.436 1.206 1.508" /></svg>
                      </div>
                      <div class="options-filter-container">
                        <div class="selectOption options-filter-list options-filter-list-option-three">
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>10inch</span></button>
                          <button class="itemLengthSize-item js-selectOption"><span>20inch</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mobile-filter__footer">
                <button type="submit" class="btn btn-primary btn-filter-apply">
                  <span>Apply</span>
                  <span class="filter-counter">230</span>
                </button>
              </div>

            </div>
          </div>
        </div>


        <div class="ib-filter__tag-is-enable">
          <a href="#" class="sortfilter-active ml-0">
            <div class="filter-label">
              <span>Women</span>
              <span class="delete-filter">
                <svg id="cross-small" viewBox="0 0 14 24">
                  <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                    <path d="M13 6l-6 6 6 6M1 6l6 6-6 6"></path>
                  </g>
                </svg>
              </span>
            </div>
          </a>
          <a href="#" class="sortfilter-active">
            <div class="filter-label">
              <span>Ships Today</span>
              <span class="delete-filter">
                <svg id="cross-small" viewBox="0 0 14 24">
                  <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                    <path d="M13 6l-6 6 6 6M1 6l6 6-6 6"></path>
                  </g>
                </svg>
              </span>
            </div>
          </a>
          <a href="#" class="sortfilter-active">
            <div class="filter-label">
              <span>24</span>
              <span class="delete-filter">
                <svg id="cross-small" viewBox="0 0 14 24">
                  <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                    <path d="M13 6l-6 6 6 6M1 6l6 6-6 6"></path>
                  </g>
                </svg>
              </span>
            </div>
          </a>
        </div>


        <!-- main content show -->
        <div class="ib-resultpage-display">

        {% for i in 1..16 %}
        <div class="ib-productsgrid__item">
          {% include '../pages/components/productcard/productcard-default.twig' with {'objects':i} %}
        </div>
        {% endfor %}

      </div>
    </div>
    <!-- end contaiber -->
  </div><!-- end -->
</div>




{% endblock %}
{% block included_content %}




<!-- scripts -->
<script src="js/homepage.min.js"></script>
<script src="https://rawgit.com/jziggas/sticky-ts/master/dist/sticky.min.js"></script>
<script>
  var sticky = new stickyts.Sticky('[data-sticky]');
</script>

<script>
  $(document).ready(function () {
    var jsProductCard = $('.ib-productcard-wrap');
    jsProductCard.hover(
      function () {
        $(this).addClass('is-active');
      }, function () {
        $(this).removeClass('is-active');
      }
    );
  });

  $(document).ready(function () {
    $('.btn-filter').on('click', function () {
      //click to open or close
      $(this).toggleClass('open--filter btn-filter--is-open');
      $('.btn-filter__btn').toggleClass('open--filter');
    });

    // mobile filter
    $('.ib-filter--mobile-actions .js-open-filters').on('click', function () {
      //click to open or close
      $('.mobile-filter-wrapper').toggleClass('open--filter');
      $('.js-mobile-filter').addClass('js-mobile-filter--show-filter');
      $('.mobile-filter').toggleClass('open--filter');
      $('body').css('overflow', 'hidden');
    });

    // mobile filter
    $('.ib-filter--mobile-actions .js-open-sortby').on('click', function () {
      //click to open or close
      $('.mobile-filter-wrapper').toggleClass('open--filter');
      $('.js-mobile-sortby').addClass('js-mobile-sortby--show-filter');
      $('.mobile-filter').toggleClass('open--filter');
      $('body').css('overflow', 'hidden');
    });

    // clsoe filter
    $('.js-btn-close-filter').on('click', function () {
      //click to open or close
      $('.mobile-filter-wrapper').removeClass('open--filter');
      $('.mobile-filter').removeClass('open--filter');
      $('body').removeAttr('style');
      $('.js-mobile-filter').removeClass('js-mobile-filter--show-filter');
      $('.js-mobile-sortby').removeClass('js-mobile-sortby--show-filter');
    });

    function buttonclick() {
      document.getElementById('filter-sortby').click();
      console.log("click work")
    }
  });
  
</script>

<script>
  $(document).ready(function () {
    var jsProductCard = $('.js-productcard');
    jsProductCard.hover(
      function () {
        $(this).addClass('is-active');
      }, function () {
        $(this).removeClass('is-active');
      }
    );
  });
</script>
{% endblock %}