<!-- layout -->
{% extends "../layouts/buyspages.twig" %}
<!-- header addtional -->
{% block included_content_header %}
{% include "../components/promo1.twig" %}
{% endblock %}


{% block content %}
<section class="hero-split">
  <div class="hero-split-wrapper">
    <div class="hero-split--content">
      <div class="hero-split--content-wrapper hero-style">
        <div class="pb-24 buypages--rating">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
          </ul>
        </div>
        <h1 class="title-1 bold l-1">Icebox Buys <br> Engagement Rings!</h1>
        <p class="text-1 mb-4">"Guaranteed cash offers on the spot!"</p>
        <div class="btn-fixer">
          <a href="#" id="get-appointment" class="btn --animated mb-2"><span>Book Appointment</span></a>
        </div>

      </div>
    </div>
    <div class="hero-split--media">
      <picture class="aspect-ratio-square">
        <img srcset=" img/webuyengagement-hero.jpg" alt="…">
      </picture>
    </div>
  </div>
</section>

<section class="page-details">
  <div class="container-fluid">
    <div class="page-details--media">
      <div class="media-collage">
        <div class="media-collage--item collage-span collage-span-1">
          <figure class="media-collage--item-wrapper">
            <img src="img/webuyengagement-1.jpg" alt="">
          </figure>
        </div>
        <div class="media-collage--item collage-span collage-span-2">
          <figure class="media-collage--item-wrapper">
            <img src="img/webuyengagement-2.jpg" alt="">
          </figure>
        </div>
        <div class="media-collage--item collage-span collage-span-3">
          <figure class="media-collage--item-wrapper">
            <img src="img/webuyengagement-3.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
    <div class="page-details--content">
      <div class="text-content">
        <p class="text-2">
          Do you have an engagement ring for sale? If so, Icebox is the place to sell! We have an overwhelming demand
          for diamonds
          so we are paying serious cash for your unwanted engagement rings, or any other diamond jewelry you may have
          with it. <br><br>

          We buy valuables in any condition! We always pay cash on the spot in less than 15 minutes.<br><br>

          Located in Buckhead near Lenox Mall at We also buy watches regardless of the condition! Broken or working we
          pay top
          dollar!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="brands-sections" style="background-color: #f9fafc;">
  <div class="container">
    <div class="section-header--big section-header--center">
      <h2>We also buy other high <br>quality brands including:</h2>
    </div>
    <ul class="brands">
      <li>Cartier</li>
      <li>Hublot</li>
      <li>Audemars Piguet</li>
      <li>Tag Heuer</li>
      <li>Patek Philippe</li>
      <li>Richard Mille</li>
      <li>Vacheron Constantin</li>
      <li>Van Cleef & Arpels</li>
      <li>Chopard</li>
      <li>Panerai</li>
      <li>Franck Muller</li>
      <li>IWC</li>
      <li>Ulysse Nardin</li>
      <li>Corum</li>
      <li>Piaget</li>
      <li>Blancpain</li>
      <li>Breguet</li>
      <li>Breitling</li>
    </ul>
  </div>
</section> -->

<section class="ourCustomers" style="background-color: #EDF1FF">
  <div class="container">
    <div class="section-header--big section-header--center">
      <h2 class="title-2 mb-4">Authentic Reviews</h2>
    </div>

    <!-- product wrapper -->
    <div class="ourCustomersReviews product-wrapper ourCustomersReviews--buypages"
      style="  overflow: visible!important">
      <div class="col">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Customer service is always good!</div>
        <div class="meta d-flex">
          <span class="meta-review">William Lawton</span>
        </div>
        <div class="review">
          I was nervous to sell my Rolex from my family estate and I wanted a
          trusted buyer. Lots of places in Atlanta were offering me consignment
          and they didn’t seem trustworthy. Icebox was able to give me cash on
          the spot and I’m confident the offer was beyond fair. I really
          appreciate the service.
        </div>
      </div>
      <div class="col col-xs-push-6">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Got my Christmas gift from Icebox!</div>
        <div class="meta d-flex">
          <span class="meta-review">Julie Ahn</span>
        </div>
        <div class="review">
          There are lots of pawn shops in Atlanta but I didn’t want to sell my
          Rolex at a pawn shop. I called Icebox and they were very secure and
          confidential about the transaction. I was able to get cash immediately
          and their police officer walked me to the car I can’t believe their
          professionalism!
        </div>
      </div>
      <div class="col">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Got my Christmas gift from Icebox!</div>
        <div class="meta d-flex">
          <span class="meta-review">Lucy Bromell</span>
        </div>
        <div class="review">
          Very honest company to do business with, hassle free. I actually sold
          both my Rolex watch here one in 2014 and another one in 2019. Both
          times they gave me the most because I shopped it around to make sure I
          got the most money. Jenee helped me in 2014 and in 2019 so thank you
          to Jenee.
        </div>
      </div>
      <div class="col col--up">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Customer service is always good!</div>
        <div class="meta d-flex">
          <span class="meta-review">Matthew V.</span>
        </div>
        <div class="review">
          Best place to go for a gift on any occasion.. Customer service is always good and top notch at IceBox. No
          matter what
          the budget they always have something that fits my needs. I have personally referred friends and family to
          IceBox and
          they leave out a happy customer.
        </div>
      </div>
      <div class="col">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Got my Christmas gift from Icebox!</div>
        <div class="meta d-flex">
          <span class="meta-review">Saira G.</span>
        </div>
        <div class="review">
          I often hear people say how Atlanta is a small city and that you run into people you know all over town or
          that everyone
          eats/shops at the same spots. I walked into this store about two weeks ago on my own without ever mentioning
          the name of
          the place to my husband. All he knew was that I saw some earrings and a Rolex that I liked. Well earlier this
          week, I
          saw our credit card statement and of all the stores in town, it showed that he got my Christmas gift from
          Icebox.
        </div>
      </div>
      <div class="col">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li><i class="icon icon--rated-gold"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Got my Christmas gift from Icebox!</div>
        <div class="meta d-flex">
          <span class="meta-review">Saira G.</span>
        </div>
        <div class="review">
          I often hear people say how Atlanta is a small city and that you run into people you know all over town or
          that everyone
          eats/shops at the same spots. I walked into this store about two weeks ago on my own without ever mentioning
          the name of
          the place to my husband. All he knew was that I saw some earrings and a Rolex that I liked. Well earlier this
          week, I
          saw our credit card statement and of all the stores in town, it showed that he got my Christmas gift from
          Icebox.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <div class="section-header--big section-header--center">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="accordion js-accordion --faq">
      <div class="accordion__item js-accordion-item active">
        <div class="accordion-header js-accordion-header product-subtitle">
          Do I need to schedule an appointment?
        </div>
        <div class="accordion-body js-accordion-body" style="display: block;">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              Appointments are not required, but they are preferred. If you would like to book an appointment, please
              contact Jenee
              via cell 404-991-9721, or email <strong><a
                  href="mailto:jenee.ewen@icebox.com">jenee.ewen@icebox.com</a></strong> Typical business hours are
              Monday-Friday 11:00am-7:00pm.

            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          How long does it take?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              The entire process typically takes less than twenty minutes. We use state of the art equipment and
              software to
              streamline the gold buying process to make your visit efficient and enjoyable.
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          Will I receive cash on the spot?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              Yes! We provide a cash offer for the item(s) during your visit. If you prefer, you may also opt for
              payment via check.
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          How do you determine the value of my piece(s)?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              Several factors determine the cash value for gold, diamonds, and watches. This includes market demand,
              melt values,
              wholesale values, etc. Rest assured we offer fair value and the best prices in town!
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          What should I bring?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              In order to sell jewelry or watches, you must provide a valid form of government ID. It is also strongly
              recommended you
              bring any paperwork you have for the item(s) such as appraisals, GIA certificates, the original box, and
              serial card.
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          Can I trade my item(s) towards something else in the store?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              Absolutely! Jenee will provide both a buy and trade value towards other diamond jewelry in the store.
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          Do you buy broken items?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              Yes, we provide offers for gold and diamond jewelry in all conditions.
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
      <div class="accordion__item js-accordion-item">
        <div class="accordion-header js-accordion-header product-subtitle">
          Who do I contact if I have further questions?
        </div>
        <div class="accordion-body js-accordion-body">
          <div class="accordion-body__contents">
            <p class="collapse wrapper-info" id="collapseSummary">
              If you have further questions/concerns, please call or text Jenee at 404-991-9721
            </p>
          </div>
        </div>
      </div>
      <!-- end of accordion item -->
    </div>
  </div>
</section>

<section style="margin-bottom: -8px;">
  <div class="container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.8021479311265!2d-84.37307348479042!3d33.843212680663264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f505f4376e605b%3A0x13dd0214a5f77093!2sIcebox%20Diamonds%20%26%20Watches!5e0!3m2!1sen!2sus!4v1586385201566!5m2!1sen!2sus"
      width="400" height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</section>




{% endblock %}
<!-- footer scripts -->
{% block included_content %}


{% endblock %}