<div class="cardFeed cardYoutube">
  <div class="cardYoutube__media">
    <figure class="lazyload product--image-product">
      <img src="img/youtube-feed-sample.jpg" alt="">
    </figure>
    <div class="statsBar">
      <div class="icon-cols feed-t-w">
        <span class="stats-title t-contain">Swae Lee Tells How His Monkeys...</span>
      </div>
      <div class="icon-cols-group feed-t-c">
        <div class="icon-cols">
          <i class="icon icon--message"></i>
          <span class="stats-title">159</span>
        </div>
        <div class="icon-cols">
          <i class="icon icon-admin-view"></i>
          <span class="stats-title">127,504</span>
        </div>
      </div>
    </div>
    <a href="product.html" class="link--overlap">view</a>
  </div>
  <div class="cardYoutube__information">
    <div class="input__wrapper">
      <select class="dropdown__custom input__normal border" >
        <option selected="">Select</option>
        <option>Male</option>
        <option>Female</option>
        <option>Unisex</option>
      </select>
    </div>
  </div>
</div>