<div class="header-banner">
  <div class="header-promotion">
    <div class="owl-carousel header-promotion-carousel" id="js-promotionBanners">
      <div class="header-promotion-carousel-item">
        <div class="header-promotion-carousel-item-inner">Keeping Our Community Healthy & Safe. Our Community Healthy &
          Safe. <a href="#" title="Read More"><u>Read More.</a></u></div>
      </div>
      <div class="header-promotion-carousel-item">
        <div class="header-promotion-carousel-item-inner">Free Shipping &amp; Returns.</div>
      </div>
      <div class="header-promotion-carousel-item">
        <div class="header-promotion-carousel-item-inner">We are still processing all online orders - all items include
          FREE 2-day Shipping!</div>
      </div>
      <div class="header-promotion-carousel-item">
        <div class="header-promotion-carousel-item-inner"><a href="#NEWSLETTER">Sign up</a> for <b>10% off</b> your
          first order.</div>
      </div>
    </div>
  </div>
  <div class="header-actions">
    <a href="#" data-toggle="modal" data-target="#countryModal"
      class="rootLink-child d-flex align-items-center dropdown-arrow">
      Change currency: <strong class="ml-2">USD</strong></a>
  </div>
</div>

<div class="globalNav">
  {% include "navbar-desktop.twig" %}
</div>