<div class="payment-blankstate">
  <div class="payment-blankstate__icon">
    <svg viewBox="0 0 60 51">
      <path
        d="M53.483 0H6.517A6.524 6.524 0 000 6.517V44.09a6.524 6.524 0 006.517 6.517h46.966A6.524 6.524 0 0060 44.09V6.517A6.524 6.524 0 0053.483 0zm4.755 44.09a4.76 4.76 0 01-4.755 4.755H6.517a4.76 4.76 0 01-4.755-4.755V6.517A4.76 4.76 0 016.517 1.76h46.966a4.76 4.76 0 014.755 4.756V44.09zM55.362 9.393H4.64a.88.88 0 100 1.762h50.723a.88.88 0 100-1.762zM7.14 6.2a.881.881 0 11-.622-1.503.883.883 0 01.88.88c0 .233-.094.46-.258.623zm6.892.258a.883.883 0 00.881-.88.885.885 0 00-.88-.881.881.881 0 000 1.76zM10.896 6.2a.881.881 0 01-1.502-.623.881.881 0 011.761 0c0 .233-.095.46-.258.623z" />
      </svg>
  </div>
  <div class="payment-blankstate__content">
    <p class="text-4 mb-2">After clicking “Complete order”, you will be redirected to PayPal to complete your purchase securely.</p>
    <p>Total <strong>$980.00 USD</strong></p>
  </div>
</div>