<form action="" method="get">
  <input name="keyword" id="main_search_field" class="search-query dropdown-toggle" data-toggle="dropdown" href="#"
    aria-haspopup="true" aria-expanded="false" placeholder="Search" value="">
  <div class="dropdown-menu dropdown-menu-right flyout-search" aria-labelledby="dropdownMenuSearch">
    <div class="flyout-search-wrapper">
      <div class="search-column search-suggestions">
        <ul class="search-suggestions-list">
          <li class="title-5 title-suggestions">Suggestions</li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Diamond Pendants</span>
              <span class="product-available">50</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span> Necklaces</span>
              <span class="product-available">102</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Mens Diamond Rings</span>
              <span class="product-available">145</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Huggie Hoops</span>
              <span class="product-available">30</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Dangling Earrings</span>
              <span class="product-available">45</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Rolex Watches</span>
              <span class="product-available">34</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Accessories</span>
              <span class="product-available">23</span>
            </a>
          </li>
          <li>
            <a href="#" class="search-suggestions-list-link">
              <span>Bracelets</span>
              <span class="product-available">136</span>
            </a>
          </li>
        </ul>
        <a href="#" class="btnLink">
          Show Everything with "Search keyword"
        </a>
      </div>
      <div class="search-column search-products">
        <ul class="search-products-list">
          <li class="title-suggestions">Products</li>
          <li class="search-products-list-view">
            <a href="#" class="link--overlap"></a>
            <figure>
              <img
                src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                alt="">
            </figure>
            <div class="product-card__details">
              <label class="product-type">Unisex</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
            </div>
          </li>
          <li class="search-products-list-view">
            <a href="#" class="link--overlap"></a>
            <figure>
              <img
                src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                alt="">
            </figure>
            <div class="product-card__details">
              <label class="product-type">Unisex</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
            </div>
          </li>
          <li class="search-products-list-view">
            <a href="#" class="link--overlap"></a>
            <figure>
              <img
                src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                alt="">
            </figure>
            <div class="product-card__details">
              <label class="product-type">Unisex</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
            </div>
          </li>
          <li class="search-products-list-view">
            <a href="#" class="link--overlap"></a>
            <figure>
              <img
                src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
                alt="">
            </figure>
            <div class="product-card__details">
              <label class="product-type">Unisex</label>
              <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
              <div class="product-card__details-price">
                <div class="product-price-new">$ 74,000</div>
                <div class="product-price-old">$ 76,000</div>
              </div>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </div>
</form>