<div id="ib-forgetpassword-update" class="ib-modal-view" style="display: none;">
  <header>
    <figure class="ib-modal-media">
      <svg width="155" height="69" viewBox="0 0 155 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M29.1123 68.0002C21.294 57.9341 28.3305 24.6084 17.2871 28.7131C10.0551 34.87 19.4371 61.941 29.1123 68.0002Z"
          fill="#2D4088" stroke="black" stroke-width="0.209284" />
        <path
          d="M28.5259 67.7498C16.3377 57.6837 16.7007 26.899 5.55954 32.1764C-2.06333 35.7872 15.9188 61.9838 28.5259 67.7498Z"
          fill="white" stroke="black" stroke-width="0.209284" />
        <path
          d="M25.9849 66.5767C16.6029 57.781 10.4459 36.4761 2.04123 42.5353C-2.83857 46.0533 10.1527 59.4424 25.9849 66.5767Z"
          fill="#2D4088" stroke="black" stroke-width="0.209284" />
        <path
          d="M126.341 68.0002C134.159 57.9341 127.122 24.6084 138.166 28.7131C145.398 34.87 136.016 61.941 126.341 68.0002Z"
          fill="#2D4088" stroke="black" stroke-width="0.209284" />
        <path
          d="M126.927 67.7498C139.115 57.6837 138.752 26.899 149.894 32.1764C157.516 35.7872 139.534 61.9838 126.927 67.7498Z"
          fill="white" stroke="black" stroke-width="0.209284" />
        <path
          d="M129.468 66.5767C138.85 57.781 145.007 36.4761 153.412 42.5353C158.291 46.0533 145.3 59.4424 129.468 66.5767Z"
          fill="#2D4088" stroke="black" stroke-width="0.209284" />
        <path d="M5.88672 67.6516H150.33" stroke="black" stroke-width="0.627852" stroke-linecap="round" />
        <rect x="23.0305" y="0.5" width="108.192" height="66.6685" rx="5.34" fill="white" stroke="#101E5A" />
        <path opacity="0.23"
          d="M26.5233 4.59597C24.9923 3.43966 25.81 1 27.7286 1H125.757C127.675 1 128.493 3.43966 126.962 4.59597L77.9479 41.6135C77.2347 42.1522 76.2505 42.1522 75.5372 41.6135L26.5233 4.59597Z"
          fill="#97A1C6" />
      </svg>
    </figure>
    <h4 class="title-4 headline">Password Reset</h4>
    <p class="subhead">You should receive a link in a few moments. Please open that link to reset your password.</p>
    <p class="text-2 bold mt-4">fazurrehman@gmail.com</p>
  </header>
  <div class="ib-modal-cta">
    <button type="submit" class="btn btn-primary js-btn-sendPasswordSucessful">Return to login</button>
  </div>
</div>