<div id="ib-phoneNumber" class="ib-modal-view" style="display: none;">
  <header>
    <h4 class="title-4 headline">Log In</h4>
    <p class="subhead">Enter your phone number</p>
  </header>
  <form class="needs-validation" novalidate>

    <div class="form-item form-item--phone form-item--underline js-form-item">
      <input type="tel" class="form-tel form-item__input" id="phoneLogin" placeholder="(770) 828-5540">
    </div>
    <div class="ib-modal-cta">
      <button type="submit" class="btn btn-primary mb-2  js-btn-login-phoneConfirm">Continue</button>
      <button type="submit" class="btn btn-border js-btn-backToEmailLogin">Can't signin</button>
    </div>
  </form>
  <div class="ib-modal-footer fl">
    Not a member?
    <a href="#" class="btnLink bold js-btn-signup">Create Account</a>
  </div>
</div>