{% extends "../../../layouts/component-layout.twig" %}
{% set page_title = 'Modal Subscribe | Component' %}
{% block content %}




<div class="i-modal i-modal-is--newsletter is-active">
  <div class="wrap is-active">
    <button class="btn-close">
      <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 18 18">
        <path
          d="M14.25 2.25L9 7.5 3.75 2.25l-1.5 1.5L7.5 9l-5.25 5.25 1.5 1.5L9 10.5l5.25 5.25 1.5-1.5L10.5 9l5.25-5.25-1.5-1.5z">
        </path>
      </svg>
    </button>
    <div class="i-modal-content">
      <aside role="media">
        <figure class="image">
          <img
            src="https://drscdn.500px.org/photo/1011835142/q%3D80_m%3D1500/v2?sig=b4d135b1224fdc8ef548b1cf1579bdccc80ae2e0c45d84e170cf20b88d10f02d"
            alt="" class="image-wrapper">
        </figure>
      </aside>
      <div class="main">
        <div class="i-modal-content__header">
          <h2 class="title-3 modal-title text-center">Don’t miss a thing!</h2>
          <p class="text-3 text-center">Get updates by email from Icebox.com</p>
        </div>
        <div class="i-modal-content__inner">
          <form>
            <div class="modal-content__section">
              <div class="modal-row">
                <div class="field p-0">
                  <div class="field__wrapper">
                    <label for="newsletterEmail" class="field__label">Email Address</label>
                    <input type="email" id="newsletterEmail" name="email" placeholder="Email Address"
                      class="field__input" required>
                  </div>
                </div>
              </div>
              <div class="modal-row">
                <h5 class="title-5 modal-subtitle">What are you mostly interested in?</h5>
                <div class="form-check pl-0 mb-2">
                  <input class="radio" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label mbold ml-1" for="exampleRadios1">
                    Men’s fashion
                  </label>
                </div>
                <div class="form-check pl-0">
                  <input class="radio" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label mbold ml-1" for="exampleRadios2">
                    Women’s fashion
                  </label>
                </div>
              </div>
            </div>
            <div class="i-modal-content__footer">
              <div class="btn-group">
                <button type="submit" class="btn btn-border">No Thanks</button>
                <button type="submit" class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}




<!-- scripting -->
{% block included_content %}
<script>
  // this code already in comman.js don't use this code
  // this is for just email label
  const FloatLabel = (() => {
    // add active class and placeholder 
    const handleFocus = e => {
      const target = e.target;
      target.parentNode.classList.add('field--active');
      // target.setAttribute ('placeholder', target.getAttribute ('data-placeholder'));
    };

    // remove field--active class and placeholder
    const handleBlur = e => {
      const target = e.target;
      if (!target.value) {
        target.parentNode.classList.remove('field--active');
      }
      // target.removeAttribute ('placeholder');
    };

    // register events
    const bindEvents = element => {
      const floatField = element.querySelector('input');
      floatField.addEventListener('focus', handleFocus);
      floatField.addEventListener('blur', handleBlur);
    };

    // get DOM elements
    const init = () => {
      const floatContainers = document.querySelectorAll('.field');

      floatContainers.forEach(element => {
        if (element.querySelector('input').value) {
          element.classList.add('field--active');
        }

        bindEvents(element);
      });
    };
    return {
      init: init
    };
  })();
  $(document).ready(function () {
    FloatLabel.init();
  });
</script>
{% endblock %}