{% extends "../../../layouts/component-layout.twig" %}
{% set page_title = 'Modal Subscribe | Component' %}
{% block content %}




<div class="i-modal i-modal-is--filter-listing is-active">
  <div class="wrap is-active">
    <button class="btn-close">
      <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 18 18">
        <path
          d="M14.25 2.25L9 7.5 3.75 2.25l-1.5 1.5L7.5 9l-5.25 5.25 1.5 1.5L9 10.5l5.25 5.25 1.5-1.5L10.5 9l5.25-5.25-1.5-1.5z">
        </path>
      </svg>
    </button>
    <div class="i-modal-content">
      <div class="main">
        <div class="i-modal-content__header">
          <span class="label-heading text-uppercase text-center d-block mb-1 mbold">customize search items</span>
          <h2 class="modal-title title-4 text-center">Are you shopping for
            mens or womens jewelry</h2>
        </div>

        <div class="i-modal-content__inner">
          <div class="modal-row">
            <div class="radio-group">
              <div class="radio-group__btn is-selected">
                <div class="radio__input">
                  <input type="radio" name="myRadio" id="mens" class="radio" checked="">
                </div>
                <label for="mens" class="radio__label">
                  <span class="radio__label--primary">Mens</span>
                </label>
              </div>
              <div class="radio-group__btn">
                <div class="radio__input">
                  <input type="radio" name="myRadio" id="womens" class="radio">
                </div>
                <label for="womens" class="radio__label">
                  <span class="radio__label--primary">Womens</span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-row">
            <h5 class="title-5 modal-subtitle">Select categorie</h5>
            <div class="itemLengthSize lengthSize--4">
              <button class="itemLengthSize-item js-lengthSelect"><span>Rings</span></button>
              <button class="itemLengthSize-item js-lengthSelect active"><span>Necklaces</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Earrings</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Bracelets</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Watches</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Gold Chains</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Custom</span></button>
            </div>
          </div>
          <div class="modal-row">
            <h5 class="title-5 modal-subtitle">Select diamond quality</h5>
            <div class="diamondQuality">
              <div class="diamondQuality-option js-diamondQuality">
                <img src="../../img/icons/vs.svg" class="icon-m diamond-image" alt="">
                <span class="diamond-title">SI</span>
              </div>
              <div class="diamondQuality-option js-diamondQuality">
                <img src="../../img/icons/vs.svg" class="icon-m diamond-image" alt="">
                <span class="diamond-title">VS</span>
              </div>
              <div class="diamondQuality-option js-diamondQuality">
                <img src="../../img/icons/vs.svg" class="icon-m diamond-image" alt="">
                <span class="diamond-title">VVS</span>
              </div>
            </div>
          </div>
          <div class="modal-row">
            <h5 class="title-5 modal-subtitle">Select size</h5>
            <div class="itemLengthSize lengthSize--4">
              <button class="itemLengthSize-item js-lengthSelect"><span>All</span></button>
              <button class="itemLengthSize-item js-lengthSelect active"><span>Small</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Medium</span></button>
              <button class="itemLengthSize-item js-lengthSelect"><span>Large</span></button>
            </div>
          </div>
        </div>
        <div class="i-modal-content__footer">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}




<!-- scripting -->
{% block included_content %}
<script>
  $(document).ready(function () {
    // diamond select
    $('.js-diamondQuality').click(function () {
      $(this).addClass('active').siblings().removeClass('active');
    });
  });


</script>
{% endblock %}