<div id="ib-forgetpassword" class="ib-modal-view" style="display: none;">
  <header>
    <h4 class="title-4 headline">Forget Password?</h4>
    <p class="subhead">Enter your email address below, and if an account exists, we’ll send you a link to reset your
      password.</p>
  </header>
  <form>
    <div class="form-item form-item--with-scaling-label js-form-item">
      <label class="form-item__label">Email</label>
      <input class="form-text form-item__input" type="email" id="userEmail" placeholder="&nbsp;">
    </div>
    <div class="ib-modal-cta">
      <button type="submit" class="btn btn-primary js-btn-sendPassword">Reset Password</button>
    </div>
  </form>
  <div class="ib-modal-footer fl">
    Or return to
    <a href="#" class="btnLink bold js-btn-login">Login Account</a>
  </div>
</div>