<div id="ib-signup" class="ib-modal-view" style="display: none;">
  <header>
    <h4 class="title-4 headline">Become a icebox <br> member</h4>
    <p class="subhead">Create your Icebox profile and get first access to
      the very best of Icebox products.</p>
  </header>
  <form>
    <div class="form-item form-item--with-scaling-label js-form-item">
      <label class="form-item__label">Email</label>
      <input class="form-text form-item__input" type="email" id="userEmail" placeholder="&nbsp;">
    </div>
    <div class="form-item form-item--with-scaling-label js-form-item">
      <label class="form-item__label">Password</label>
      <input type="password" id="userPassword" class="form-text form-item__input js-passwordToggle"
        placeholder="&nbsp;">
      <div id="showPassword" class="toggle-password icon-m icon-eye"></div>
    </div>

    <div class="form-item form-item--with-scaling-label js-form-item">
      <label class="form-item__label">First Name</label>
      <input type="text" id="userName" class="form-text form-item__input" placeholder="&nbsp;">

    </div>
    <div class="form-item form-item--with-scaling-label js-form-item">
      <label class="form-item__label">Last Name</label>
      <input type="text" class="form-text form-item__input" id="userName" placeholder="&nbsp;">
    </div>
    <div class="form-item form-item--phone js-form-item">
      <input type="tel" class="form-tel form-item__input" id="phone" placeholder="(770) 828-5540">
    </div>
    <div class="form-group gender-list">
      <div class="gender-list-type">Male</div>
      <div class="gender-list-type">Female</div>
      <div class="gender-list-type">Other</div>
    </div>
    <div class="ib-modal-oneline">
      <input class="ib-modal-checkbox" type="checkbox" id="signupSubscribe">
      <label class="ib-modal-checkbox-desribe fs" for="signupSubscribe">Sign up for emails to get updates from Icebox
        on
        products, offers, and your Member
        benefits
      </label>
    </div>
    <div class="ib-modal-cta">
      <button type="submit" class="btn btn-primary">Create Account</button>
    </div>
  </form>
  <div class="ib-modal-footer fl">
    Already have account?
    <a href="#" class="btnLink bold js-btn-login">Log In</a>
  </div>
</div>