{% extends "../layouts/default.twig" %}
{% set pageClass = "homepage" %}
{% set pageTitle = "Homepage - Icebox" %}


{% block content %}

  <div class="ib-header">
    <div class="ib-header-wrapper">
    {% include "../components/navbar-desktop.twig" %}
    </div>
  </div>

{% endblock %}

{% block included_content %}
{% endblock %}