{% extends "../layouts/default.twig" %}
{% set pageClass = "homepage" %}
{% set pageTitle = "Homepage - Icebox" %}


{% block content %}
  <div class="ib-container">
    <button class="ib-btn ib-btn--primary ib-modal-cta js-triggerModalFilter">open filter popup</button>
  </div>
  <div class="ib-modal ib-modal--search-filter">
    <div class="ib-modal-dialog">
      <div class="ib-modal-container">
        <button class="ib-btn-close ib-btn-icon ib-btn--rounded ib-btn--transparent" onclick="popupFilterClose();">
          <svg class="svgIcon-root">
            <use xlink:href="../icons.svg#icon-close" />
          </svg>
        </button>
        <div class="ib-modal-content">
          <div class="ib-modal-section">
            <div class="ib-modal-section__header">
              <h5 class="headline bold">What are you shopping for?</h5>
            </div>
            <div class="ib-modal-section__content">
              <div class="ib-radioGroup ib-modal-gender">
                <label><input type="radio" name="r2" value="1" checked="checked"> <span>Men</span></label>
                <label><input type="radio" name="r2" value="2"> <span>Women</span></label>
                <label><input type="radio" name="r2" value="3"> <span>Unisex</span></label></div>
            </div>
          </div>
          <div class="ib-modal-section">
            <div class="ib-modal-section__header">
              <h5 class="headline bold">What type of item?</h5>
            </div>
            <div class="ib-modal-section__content">
              <div class="ib-modal-section__content-wrapper">
                <div class="ib-btn-category js-ib-btn-category">
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Gold Chains</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Pendants</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Earrings</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Necklaces</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Bracelets</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Rings</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Accessories</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Watches</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__primary">Custom</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ib-modal-section">
            <div class="ib-modal-section__header">
              <h5 class="headline bold">What is your price range ?</h5>
            </div>
            <div class="ib-modal-section__content">
              <div class="ib-modal-section__content-wrapper">
                <div class="ib-btn-category ib-btn-category--modifier-price js-ib-btn-price-select ">
                  <div class="ib-btn-category__option">
                    <span class="radio__label__price-currency">$</span>
                    <span class="radio__label__primary">500 & Under</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__price-currency">$</span>
                    <span class="radio__label__primary">500-1000</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__price-currency">$</span>
                    <span class="radio__label__primary">1k-3k</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__price-currency">$</span>
                    <span class="radio__label__primary">3k - 5k</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__price-currency">$</span>
                    <span class="radio__label__primary">5k-10k</span>
                  </div>
                  <div class="ib-btn-category__option">
                    <span class="radio__label__price-currency">$</span>
                    <span class="radio__label__primary">10K</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="ib-modal-section">
            <div class="ib-modal-section__header">
              <h5 class="headline bold">What color gold?</h5>
            </div>
            <div class="ib-modal-section__content">
              <ul class="ib-colornav-items">
                <li class="ib-colornav-item selected">
                  <input value="color-1" class="ib-colornav-value" type="radio" name="" id="color-rose" checked="true">
                  <label class="ib-colornav-link " for="color-rose">
                    <img aria-hidden="true" src="images/color-switches/color-switch-rose.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-rose</span>
                  </label>
                </li>
                <li class="ib-colornav-item">
                  <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-gold">
                  <label class="ib-colornav-link " for="color-gold">
                    <img aria-hidden="true" src="images/color-switches/color-switch-gold.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-gold</span>
                  </label>
                </li>
                <li class="ib-colornav-item">
                  <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-silver">
                  <label class="ib-colornav-link " for="color-silver">
                    <img aria-hidden="true" src="images/color-switches/color-switch-silver.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-silver</span>
                  </label>
                </li>
                <li class="ib-colornav-item">
                  <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-titanium">
                  <label class="ib-colornav-link " for="color-titanium">
                    <img aria-hidden="true" src="images/color-switches/color-switch-titanium.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-titanium</span>
                  </label>
                </li>
                <li class="ib-colornav-item">
                  <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-white-rose">
                  <label class="ib-colornav-link " for="color-white-rose">
                    <img aria-hidden="true" src="images/color-switches/color-switch-white-rose.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-white-rose</span>
                  </label>
                </li>
                <li class="ib-colornav-item">
                  <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-white-yellow">
                  <label class="ib-colornav-link " for="color-white-yellow">
                    <img aria-hidden="true" src="images/color-switches/color-switch-white-yellow.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-white-yellow</span>
                  </label>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="ib-modal-footer">
          <button class="ib-btn ib-btn--primary ib-modal-cta">Search</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block included_content %}
  <div class="ib-modal-backdrop"></div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script>
    $('.js-triggerModalFilter').click(function () {
      $('.ib-modal').addClass('show fade');
      $('.ib-modal').css('display', 'block');
      $('.ib-modal-backdrop').addClass('show');
    });
    function popupFilterClose(){
      $('.ib-modal').removeClass('show fade');
      $('.ib-modal').removeAttr("style");
      $('.ib-modal-backdrop').removeClass('show');
    }

      $('.js-ib-btn-category .ib-btn-category__option').click(function () {
        $(this).addClass('selected');
      });

    $('.js-ib-btn-price-select  .ib-btn-category__option').click(function () {
      $(this).addClass('selected');
    });

  </script>
{% endblock %}
