<div class="product-categories grid-container">
  <div class="product-category">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/necklaces.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Necklaces</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>
  <div class="product-category">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/bracelets.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Bracelets</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>
  <div class="product-category">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/earrings.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Earrings</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>
  <div class="product-category">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/rings.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Rings</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>
  <div class="product-category">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/watches.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Watches</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>
  <div class="product-category">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/pandants.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Pandants</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>
  <div class="product-category category-span-2">
    <a href="#" class="link--overlap"></a>
    <figure class="image-wrapper">
      <img data-src="img/category/accessories.jpg" class="lazyload" />
    </figure>
    <div class="content-wrapper">
      <button class="btn btn--has-icon">
        <span>Accessories</span>
        <aside>
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
            <path d="M17.59 7l5 5-5 5M0 12h22" fill="none" stroke="currentColor" stroke-miterlimit="10"
              stroke-width="2">
            </path>
          </svg>
        </aside>
      </button>
    </div>
  </div>

</div>