<section class="section-celebrites">
  <div class="section-header section-header--center">
    <h3>Celebrity Clientele</h3>
    <p>See more on <a href="#">Instagram Icebox</a></p>
  </div>

  <div id="celebrites" class="owl-carousel owl-theme">
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/1-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/2-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/3-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/4-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/5-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img srcset="img/celebrite/1-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/2-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/3-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/4-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
    <figure>
      <div class="media-wrapper">
        <picture class="lazy">
          <img src="img/celebrite/5-celebrite.jpg" alt="">
        </picture>
      </div><!-- end media-wrapper -->
      <figcaption><span>Billie Eilish</span></figcaption>
    </figure>
    <!-- end figure -->
  </div>

</section>