<div class="ib-product-section">
  <div class="ib-product-section__content">
      <span class="ib-product-label micro bold">NEW COLOR</span>
      <div class="ib-product-title-group">
          <h1 class="ib-product-title h2 medium">Two row Baguette Jagged Cuban Ring</h1>
          <span class="ib-product-pricing body bold">$ 48000</span>
      </div>
      <p class="ib-product-summary">This Icebox Kitchen Knife Ring is made of 14K Yellow gold with 0.25ctw of diamonds.</p>
  </div>
</div>

<div class="ib-product-section">
    <div class="ib-product-section__header">
        <div class="ib-product-section__header-group">
            <span class="meta bold">Select colors</span>
            <span class="preview-value">Gold</span>
        </div>
    </div>

  <div class="ib-product-section__content">
    <fieldset class="ib-colornav js-colornav">
        <ul class="ib-colornav-items">
            <li class="ib-colornav-item selected">
                <input value="color-1" class="ib-colornav-value" type="radio" name="" id="color-rose" checked="true">
                <label class="ib-colornav-link " for="color-rose">
                    <img aria-hidden="true" src="images/color-switches/color-switch-rose.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-rose</span>
                </label>
            </li>
            <li class="ib-colornav-item">
                <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-gold">
                <label class="ib-colornav-link " for="color-gold">
                    <img aria-hidden="true" src="images/color-switches/color-switch-gold.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-gold</span>
                </label>
            </li>
            <li class="ib-colornav-item">
                <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-silver">
                <label class="ib-colornav-link " for="color-silver">
                    <img aria-hidden="true" src="images/color-switches/color-switch-silver.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-silver</span>
                </label>
            </li>
            <li class="ib-colornav-item">
                <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-titanium">
                <label class="ib-colornav-link " for="color-titanium">
                    <img aria-hidden="true" src="images/color-switches/color-switch-titanium.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-titanium</span>
                </label>
            </li>
            <li class="ib-colornav-item">
                <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-white-rose">
                <label class="ib-colornav-link " for="color-white-rose">
                    <img aria-hidden="true" src="images/color-switches/color-switch-white-rose.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-white-rose</span>
                </label>
            </li>
            <li class="ib-colornav-item">
                <input value="color-2" class="ib-colornav-value" type="radio" name="" id="color-white-yellow">
                <label class="ib-colornav-link " for="color-white-yellow">
                    <img aria-hidden="true" src="images/color-switches/color-switch-white-yellow.png" width="32" height="32" alt="" class="ib-colornav-switch">
                    <span class="ib-colornav-label">color-white-yellow</span>
                </label>
            </li>

        </ul>
    </fieldset>
  </div>
</div>

<div class="ib-product-section">
  <div class="ib-product-section__header">
      <div class="ib-product-section__header-group">
          <span class="meta bold">Diamond Quality </span>
      </div>
      <div class="ib-product-section__header__link">
          <a class="link-underline medium emphasis-medium" href="#">Read more</a>
      </div>
  </div>

  <div class="ib-product-section__content">
    <fieldset class="content-box js-select-quality">
      <div class="content-box__row selected">
        <div class="radio-wrapper">
          <div class="radio__input">
            <label>
              <input class="ib-radio" type="radio" name="qualityDiamond" id="qualitySi" checked><span></span>
            </label>
          </div>
            <label class="radio__label" for="qualitySi">
              <span class="radio__label__primary">SI<span class="small-text">(Slightly Included)</span></span>
              <span class="radio__label__accessory">
                <span class="content-box__emphasis">$100</span>
              </span>
            </label>
        </div>
      </div>
      <div class="content-box__row">
        <div class="radio-wrapper">
          <div class="radio__input">
            <label>
              <input class="ib-radio" type="radio" name="qualityDiamond" id="qualityVs"><span></span>
            </label>
          </div>
            <label class="radio__label" for="qualityVs">
              <span class="radio__label__primary">VS<span class="small-text"> (Very Slightly)</span></span>
              <span class="radio__label__accessory">
                <span class="content-box__emphasis">$100</span>
              </span>
            </label>
        </div>
      </div>
      <div class="content-box__row">
        <div class="radio-wrapper">
          <div class="radio__input">
            <label>
              <input class="ib-radio" type="radio" name="qualityDiamond" id="qualityVvs"><span></span>
            </label>
          </div>
            <label class="radio__label" for="qualityVvs">
              <span class="radio__label__primary">VVS<span class="small-text">(Very Very Slightly)</span></span>
              <span class="radio__label__accessory">
                <span class="content-box__emphasis">$100</span>
              </span>
            </label>
        </div>
      </div>

    </fieldset>
  </div>
</div>

<div class="ib-product-section">
  <div class="ib-product-section__header">
      <div class="ib-product-section__header-group">
          <span class="meta bold">Size</span>
      </div>
      <div class="ib-product-section__header__link">
          <a class="link-underline medium emphasis-medium" href="#">Find your size</a>
      </div>
  </div>
  <div class="ib-product-section__content">
    <div class="product-size js-product-size">
      <div class="product-size__option">
        <span class="radio__label__primary">4</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">4.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">5</span>
      </div>
      <div class="product-size__option selected">
        <span class="radio__label__primary">5.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">6</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">6.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">7</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">7.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">8</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">8.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">9</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">9.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">10</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">10.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">11</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">11.5</span>
      </div>
      <div class="product-size__option">
        <span class="radio__label__primary">12</span>
      </div>
    </div>
  </div>
  <span class="ib-stock-scary-message micro">Only 2 left in stock</span>
</div>

<div class="ib-product-section">
  <div class="ib-product-btn-group">
    <button class="ib-btn ib-btn--primary ib-btn--rounded ib-btn--bigger ib-btn--cta-productpage">
      <span>Add to bag</span>
    </button>
    <button class="ib-btn-icon ib-btn--bigger ib-btn--rounded ib-btn--border  ib-btn--transparent">
      <svg class="svgIcon-root">
        <use xlink:href="../icons.svg#icon-like" />
      </svg>
    </button>
  </div>
</div>

<div class="ib-product-section ib-product-section--group">
  <div class="ib-product-item-availability ib-product-section--group_item">
    <div class="ib-product-item-availability__item">
      <svg class="svgIcon-root --important-information">
        <use xlink:href="../icons.svg#icon-truck"></use>
      </svg>
      <span class="product-availability-information">
        This item is made to order and will ship on <span class="link-underline medium">December 9th, 2020</span>
      </span>
    </div>
    <div class="ib-product-item-availability__item">
      <svg class="svgIcon-root">
        <use xlink:href="../icons.svg#icon-info"></use>
      </svg>
      <span class="product-availability-information">
        We're sorry, due to COVID-19 delivery times are running longer than usual. We are actively working to improve these issues.
      </span>
    </div>
  </div>
</div>

<ul id="js-ib-accordion" >
  <!-- Section 1 -->
  <li class="ib-accordion">
    <div class="ib-accordion__header">
      <span class="ib-accordion__header-title">Description</span>
      <svg class="ib-accordion-icon" fill="none" viewBox="0 0 8 6"><path stroke="#000000" stroke-width="1.5" d="M.667.986L4 4.333 7.333.986"/></svg>
    </div>
    <div class="ib-accordion__content">
      <div class="sidebar-box">
        <p>This Icebox Kitchen Knife Ring is made of 14K Yellow gold with 0.25ctw of diamonds. This piece is handcrafted and manufactured by Icebox. All of the diamonds are hand-set by a master diamond setter in the highest quality craftsmanship. This piece is made of solid Yellow gold.</p>
        <p class="read-more micro bold text-uppercase"><a href="#" class="button">Learn more about this item</a></p>
      </div>
    </div>
  </li>
  <li class="ib-accordion">
    <div class="ib-accordion__header">
      <span class="ib-accordion__header-title">Delivery and return policies</span>
      <svg class="ib-accordion-icon" fill="none" viewBox="0 0 8 6"><path stroke="#000000" stroke-width="1.5" d="M.667.986L4 4.333 7.333.986"/></svg>
    </div>
    <div class="ib-accordion__content">

      <div class="ib-product-delivery">
        <div class="ib-product-delivery__header">
          <span class="ib-tooltip-button meta"  id="ib-tooltip" title="After you place your order, GemsJunctionIndia will take 1-3 business days to prepare it for shipment.">Estimated arrival</span>
          <span class="bigger-body custom-font">24 Feb.-10 Mar.</span>
        </div>
        <div class="ib-product-delivery__timeline">
          <div class="ib-product-delivery__timeline-column">
            <span class="ib-icon-wrapper ib-icon-32">
              <svg class="svgIcon-root">
                <use xlink:href="../icons.svg#icon-delivery-box" />
              </svg>
            </span>
            <span class="meta medium">18 Feb.</span>
            <span class="ib-tooltip-button micro medium" id="ib-tooltip" title="After you place your order, GemsJunctionIndia will take 1-3 business days to prepare it for shipment.">Order placed</span>
          </div>
          <div class="ib-product-delivery__timeline-column">
            <span class="ib-icon-wrapper ib-icon-32">
              <svg class="svgIcon-root">
                <use xlink:href="../icons.svg#icon-delivered" />
              </svg>
            </span>
            <span class="meta medium">24 Feb.-10 Mar.</span>
            <span class="ib-tooltip-button micro medium"  id="ib-tooltip" title="After you place your order, GemsJunctionIndia will take 1-3 business days to prepare it for shipment.">Expected Delivery</span>
          </div>
        </div>
        <div class="ib-product-delivery__details">
          <div class="col-6 ib-product-attribute-info">
            <span class="meta ib-product-attribute-title">Cost of delivery
            </span>
            <span class="bigger custom-font">Free worldwide</span>
          </div>
          <div class="col-6 ib-product-attribute-info">
            <span class="meta ib-product-attribute-title">Returns & Exchange
            <svg class="svgIcon-root link-hover --important-information"  id="ib-tooltip" title="After you place your order, GemsJunctionIndia will take 1-3 business days to prepare it for shipment.">
              <use xlink:href="../icons.svg#icon-info" />
            </svg>
            </span>
            <span class="bigger custom-font">Accepted</span>
          </div>
          <div class="col-6 ib-product-attribute-info">
            <span class="meta ib-product-attribute-title">Insured & Discreet Packaging</span>
            <span class="bigger custom-font">100% Guaranteed</span>
          </div>
          <div class="col-6 ib-product-attribute-info">
            <span class="meta ib-product-attribute-title">Signature Required</span>
            <span class="bigger custom-font">On every package</span>
          </div>
          <div class="col-6 ib-product-attribute-info">
            <span class="meta ib-product-attribute-title">Free Shipping
              <svg class="svgIcon-root link-hover --important-information"  id="ib-tooltip" title="After you place your order, GemsJunctionIndia will take 1-3 business days to prepare it for shipment.">
              <use xlink:href="../icons.svg#icon-info" />
            </svg>
            </span>
            <span class="bigger custom-font">Free insured Shipping</span>
          </div>
        </div>
      </div>

    </div>





  </li>
  <li class="ib-accordion">
    <div class="ib-accordion__header">
      <span class="ib-accordion__header-title">What's inside</span>
      <svg class="ib-accordion-icon" fill="none" viewBox="0 0 8 6"><path stroke="#000000" stroke-width="1.5" d="M.667.986L4 4.333 7.333.986"/></svg>
    </div>
    <div class="ib-accordion__content">
      <div class="col-6 ib-product-attribute-info">
            <span class="meta ib-product-attribute-title">Jewelry Brand</span>
        <span class="bigger custom-font">Icebox</span>
      </div>
      <div class="col-6 ib-product-attribute-info">
        <span class="meta ib-product-attribute-title">Gender</span>
        <span class="bigger custom-font">Unisex</span>
      </div>
      <div class="col-6 ib-product-attribute-info">
        <span class="meta ib-product-attribute-title">Metal Purity</span>
        <span class="bigger custom-font">14K</span>
      </div>
      <div class="col-6 ib-product-attribute-info">
        <span class="meta ib-product-attribute-title">Total Diamond Weight</span>
        <span class="bigger custom-font">0.25ctw</span>
      </div>
      <div class="col-6 ib-product-attribute-info">
        <span class="meta ib-product-attribute-title">Diamond Quality</span>
        <span class="bigger custom-font">JK/SI2</span>
      </div>
    </div>
  </li>
  <li class="ib-accordion">
    <div class="ib-accordion__header">
      <span class="ib-accordion__header-title">Deliver to <b>India</b></span>
      <svg class="ib-accordion-icon" fill="none" viewBox="0 0 8 6"><path stroke="#000000" stroke-width="1.5" d="M.667.986L4 4.333 7.333.986"/></svg>
    </div>
    <div class="ib-accordion__content">Shiping from atlanta, USA</div>
  </li>
</ul>
