<!-- layout -->
{% extends "../../layouts/elements.twig" %}
{% block content %}

<div class="pagination-wrapper">
  <ul class="pagination  justify-content-center">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item active"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</div>

{% endblock %}
<!-- footer scripts -->
{% block included_content %}
<script src="js/homepage.min.js"></script>
{% endblock %}