<!-- layout -->
{% extends "../../layouts/elements.twig" %}
{% block content %}

  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 120px;
      padding: 80px 100px
    }
  
    label {
      background: #f1f2f5;
      padding: 4px 16px;
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase;
    }
  
    span {
      font-size: 12px;
      font-weight: 500;
      margin-top: 16px;
      text-transform: uppercase;
    }
  </style>
  <div>
    <div class="grid">
      <li>
        <label>title-1</label>
        <h1 class="title-1">Need Help Finding the Right Jewelry for you?</h1>
        <span>64/1.5 — SemiBold</span>
      </li>
      <li>
        <label>title-2</label>
        <h2 class="title-2">Need a little inspiration? Discover brilliant gift ideas for her and for him, from highly
          coveted for men. </h2>
        <span>48/1.5 — SemiBold</span>
      </li>
      <li>
        <label>title-3</label>
        <h3 class="title-3">Need a little inspiration? Discover brilliant gift ideas for her and for him, from highly
          coveted for men.
        </h3>
        <span>32/1.5 — SemiBold</span>
      </li>
      <li>
        <label>title-4</label>
        <h4 class="title-4">Need a little inspiration? Discover brilliant gift ideas for her and for him, from highly
          coveted for men.</h4>
        <span>24/1.5 — SemiBold</span>
      </li>
      <li>
        <label>title-5</label>
        <h5 class="title-5">Need a little inspiration? Discover brilliant gift ideas for her and for him, from highly
          coveted for men.</h5>
        <span>16/1.5 — SemiBold</span>
      </li>
      <li>
        <label>text-1</label>
        <p class="text-1">Our new collection of jewelry and homewares for men reimagines over 180 years of American
          craftsmanship.</p>
        <span>24/1.5 — Regular</span>
      </li>
      <li>
        <label>text-2</label>
        <p class="text-2">Our new collection of jewelry and homewares for men reimagines over 180 years of American
          craftsmanship.</p>
        <span>20/1.5 — Regular</span>
      </li>
      <li>
        <label>text-3</label>
        <p class="text-3">Our new collection of jewelry and homewares for men reimagines over 180 years of American
          craftsmanship.</p>
        <span>16/1.5 — Regular</span>
      </li>
      <li>
        <label>text-4</label>
        <p class="text-4">Our new collection of jewelry and homewares for men reimagines over 180 years of American
          craftsmanship.</p>
        <span>14/1.5 — Regular</span>
      </li>
      <li>
        <label>text-5</label>
        <p class="text-5">Our new collection of jewelry and homewares for men reimagines over 180 years of American
          craftsmanship.</p>
        <span>12/1.5 — SemiBold</span>
      </li>
      <li>
        <label>text-5</label>
        <p class="text-5 text-uppercase bold">Our new collection —</p>
        <span>12/1.5 — SemiBold</span>
      </li>
    </div>
  </div>


{% endblock %}
<!-- footer scripts -->
{% block included_content %}
<script src="js/homepage.min.js"></script>
{% endblock %}