<div class="mini-cart-wrapper">
  <div class="mini-cart">

    <div class="close-mini-cart">
      <button type="button" class="icon icon--close" aria-label="Close">
        <span aria-hidden="true"></span></button>
    </div>

    <div class="overflow-wrapper">

      <div class="top-tray">
        <h3>Your Bag</h3>
        <div class="cart-icon">
          <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 17 19">
            <path
              d="M15.6 17.6H1.4V5.7h2.8v2.1a.7.7 0 101.4 0V5.7h5.7v2.1a.7.7 0 101.4 0V5.7h2.8v11.9h.1zM8.5 1.4c1.6 0 2.8 1.3 2.8 2.8H5.7c0-1.5 1.2-2.8 2.8-2.8zm4.3 2.8c0-2.3-1.9-4.2-4.2-4.2-2.4 0-4.4 1.9-4.4 4.2H0v13.3c0 .9.6 1.5 1.4 1.5h14.2c.8 0 1.4-.6 1.4-1.4V4.2h-4.2z">
            </path>
          </svg>
          <span class="counter">2</span>
        </div>
      </div>

      <!-- container -->
      <div>
        <div id="mini-cart-products" style="opacity: 1;">
          <p class="empty-message only">Empty</p>
        </div>
      </div>
    </div><!-- end overflow-wrapper -->

    <div class="metas">
      <div class="totals disable">
        <p>Total Price</p>
        <p class="cart-total">$0.00</p>
      </div>
      <div class="btn-group">
        <button class="btn continue-shopping mr-sm-3">Continue Shopping</button>
        <button class="btn btn-primary mini-cart-checkout mr-sm-3 disable">View Cart</button>
      </div>
    </div>



  </div>
</div>