<div class="sidebar__content sidebar__content-is--collapsed">
  <article class="cart-item">
    <div class="cart-item-left">
      <div class="thumbnail-wrapper">
        <img class="thumbnail"
          src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/cf70a55c02b4374b599f7c5fccc69bef.jpg">
        <div class="item-qty">2</div>
      </div>
      <div class="wrapper">
        <div class="cart-item-details">
          <h5 class="item-heading">Lightning Bolt Pendant 14K 0.15ctw</h5>
          <span><b>Color</b> : <i>Yellow</i></span>
          <span><b>Diamond Quality</b> : SI</span>
        </div>
      </div>
    </div>
    <div class="cart-item-right">
      <div class="price">
        <p class="product-price" data-orig-price="34.00">$350.00</p>
      </div>
    </div>
  </article>

  <article class="cart-item">
    <div class="cart-item-left">
      <div class="thumbnail-wrapper">
        <img class="thumbnail"
          src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/a2b90364f15e6a78ac6e3739e8538e6e.jpg">
        <div class="item-qty">1</div>
      </div>
      <div class="wrapper">
        <div class="cart-item-details">
          <h5 class="item-heading">Icebox Bar Logo Pendant 14k 0.11ctw</h5>

          <span><b>Color</b> : <i>Yellow</i></span>
          <span><b>Diamond Quality</b> : SI</span>
        </div>
      </div>
    </div>
    <div class="cart-item-right">
      <div class="price">
        <p class="product-price product-price--old" data-orig-price="550.00">$630</p>
        <p class="product-price product-price--new" data-orig-price="350.00">$550</p>
      </div>
    </div>
  </article>


  <ul class="mybag-summery-list">
    <li>
      <span>Sub Total</span>
      <span>$350</span>
    </li>
    <li>
      <span>Shipping Charge</span>
      <span>Free</span>
    </li>

    <li class="total">
      <span>Total (Included VAT)</span>
      <span>$350</span>
    </li>
  </ul>
</div>