<div class="cardFeed cardInstagram">
  <div class="cardInstagram__media">
    <figure class="lazyload product--image-product">
      <img src="img/instagram-feed-sample.jpg" alt="">
      <a href="product.html" class="link--overlap">view</a>
    </figure>
    <div class="statsBar">
      <div class="icon-cols">
        <span class="stats-title">08/07/2019 12:20</span>
      </div>
      <div class="icon-cols-group">
        <div class="icon-cols">
          <i class="icon icon--message"></i>
          <span class="stats-title">159</span>
        </div>
        <div class="icon-cols">
          <i class="icon icon-in-wishlist"></i>
          <span class="stats-title">7,331</span>
        </div>
      </div>
    </div>
  </div>
  <div class="cardInstagram__information">
    <div class="input__wrapper">
      <select class="dropdown__custom input__normal border" >
        <option selected="">Select</option>
        <option>Male</option>
        <option>Female</option>
        <option>Unisex</option>
      </select>
    </div>
    <div class="input__wrapper">
      <select class="dropdown__custom input__normal border-8" >
        <option selected="">Select</option>
        <option>Male</option>
        <option>Female</option>
        <option>Unisex</option>
      </select>
    </div>
  </div>
</div>