<div class="globalNav__mobile nav-on-mobile">
  <a class="accounts-login--link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
    <div class="globalNav__mobile-navbar">
      <div class="globalNav__mobile--left">
        <div class="search-trigger nav-search-icon">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M15.943 8.722a7.222 7.222 0 11-14.443 0 7.222 7.222 0 0114.443 0zm-1.832 6.857a8.722 8.722 0 111.469-1.469l3.435 3.436a1.038 1.038 0 11-1.469 1.469l-3.435-3.436z"
              fill="#000" />
          </svg>
        </div>
      </div>
      <div class="logo">
        <a href="\"><img src="../img/logo.svg" alt="Logo"></a>
      </div>
      <div class="globalNav__mobile--right">
        <div class="mini-cart-trigger nav-cart-icon">
          <span class="counter">8</span>
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 19">
            <path
              d="M15.6 17.6H1.4V5.7h2.8v2.1a.7.7 0 101.4 0V5.7h5.7v2.1a.7.7 0 101.4 0V5.7h2.8v11.9h.1zM8.5 1.4c1.6 0 2.8 1.3 2.8 2.8H5.7c0-1.5 1.2-2.8 2.8-2.8zm4.3 2.8c0-2.3-1.9-4.2-4.2-4.2-2.4 0-4.4 1.9-4.4 4.2H0v13.3c0 .9.6 1.5 1.4 1.5h14.2c.8 0 1.4-.6 1.4-1.4V4.2h-4.2z"
              fill="#000" />
          </svg>
        </div>
        <div class="hamburger-menu" id="mobileNav">
          <span></span>
        </div>
      </div>

    </div>

    <div class="globalNav__mobile-content">
      <div class="globalNav__mobile-content-wrapper">

        <div class="accordion js-accordion --mobile-nav">
          <div class="accordion__submenu js-accordion-item">
            <div class="accordion__link js-accordion-header">Men</div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                <li class="rootLink-child"><a href="#">All</a></li>
                <li class="rootLink-child"><a href="#">New arrival</a></li>
                <li class="rootLink-child"><a href="#">Necklaces</a></li>
                <li class="rootLink-child"><a href="#">Earrings</a></li>
                <li class="rootLink-child"><a href="#">Bracelets</a></li>
                <li class="rootLink-child"><a href="#">Watches</a></li>
              </div>
            </div>
          </div>
          <!-- end of accordion item -->
          <div class="accordion__submenu js-accordion-item">
            <div class="accordion__link js-accordion-header">Women</div>
            <div class="accordion-body js-accordion-body">
              <div class="accordion-body__contents">
                <li class="rootLink-child"><a href="#">All</a></li>
                <li class="rootLink-child"><a href="#">New arrival</a></li>
                <li class="rootLink-child"><a href="#">Necklaces</a></li>
                <li class="rootLink-child"><a href="#">Earrings</a></li>
                <li class="rootLink-child"><a href="#">Bracelets</a></li>
                <li class="rootLink-child"><a href="#">Watches</a></li>
              </div>
            </div>
          </div>
          <!-- end of accordion item -->
          <a class="accordion__link" href="#">Custom</a>
          <a class="accordion__link" href="#">Best Sellers</a>
          <a class="accordion__link" href="#">Accessories</a>
        </div>
        <div class="mobile-nav--links">
          <a class="rootLink-child subMenu__cols-link" href="https://www.icebox.com/login">Log In</a>
          <a class="rootLink-child subMenu__cols-link" href="https://www.icebox.com/sign-up">Sign Up</a>
          <a href="#" data-toggle="modal" data-target="#countryModal"
            class="rootLink-child d-flex align-items-center dropdown-arrow">
            Change currency: <strong class="ml-2">USD</strong></a>
        </div>
      </div>
    </div>
</div>