<div class="newsletter newsletter--overlay" id="newsletterWelcome">
  <div class="newsletter--welcome">
    <button type="button" class="icon-b icon--close-rounded newsletter--trigger js-newsletterTriggerButton"></button>
    <h4 id="newsletterWelcomeTitle" class="block mb-3 title-4 newsletter-header">Welcome</h4>
    <p id="newsletterWelcomeText" class="block  mb-2 text-3">We don’t send a lot of emails but they’re usually a treat
      to read. Sign up, and get $5 off of your four months.
    </p>
    <div id="newsletterWelcomeForm" class="section-form">
      <form class="form-newsletter" action="">
        <input class="input-no-border" type="email" placeholder="Enter your email" required>
        <div class="button-group">
          <button type="submit" id="newsletterWelcomeButton" class="btn">Subscribe</button>
          <i class="icon">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 13">
              <path d="M17.701 0l-1.283 1.283 4.109 4.109H0v1.814h20.527l-4.109 4.109 1.283 1.282L24 6.3 17.701 0z"
                fill="#999999"></path>
            </svg></i>
        </div>
      </form>
    </div>
  </div>
  <div class="shadow-layer"></div>
</div>