<div class="product-card">
  <a href="product.html" class="link--overlap">view</a>
  <figure class="product-card__image">
    <picture class="lazyload product--image-product">
      <source
        srcset="https://www.icebox.com/unsafe/340x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
        media="(min-width: 1200px)">
      <source
        srcset="https://www.icebox.com/unsafe/280x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
        media="(min-width: 800px)">
      <img
        srcset="https://www.icebox.com/unsafe/200x0/icebox-jewelry.s3.amazonaws.com/products/a1a2081dd2e14c71bd6da6581958c596.jpg"
        alt="…">
    </picture>

    <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
  </figure>
  <div class="product-card__details">
    <label class="stock">New Arrival</label>
    <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
    <div class="product-card__details-price">
      <div class="product-price-new">$ 74,000</div>
      <div class="product-price-old">$ 76,000</div>
    </div>
    <ul class="product-card__details-colors">
      <li><span class="color color--golden"></span></li>
      <li><span class="color color--silver"></span></li>
      <li><span class="color color--rose"></span></li>
      <li><span class="color color--twotone-wr"></span></li>
      <li><span class="color color--twotone-wy"></span></li>
    </ul>
    <ul class="product-card__details-attributes">
      <li class="product-type">Unisex</li>
    </ul>
  </div>
</div>