<div class="product-card --call">
  <a href="product.html" class="link--overlap">view</a>
  <figure class="product-card__image">
    <picture class="lazyload product--image-product">
      <source srcset="../img/demo-sample.jpg" media="(min-width: 800px)">
      <img srcset="../img/demo-sample-small.jpg" alt="…">
    </picture>
    <i id="icon-wishlist" class="product-card__wishlist icon-m icon-wishlist"></i>
  </figure>
  <div class="product-card__details">
    <label class="stock">New Arrival</label>
    <div class="product-card__details-title">Custom Rolex Datejust 36mm Two-Tone Unisex 13.61ctw</div>
    <ul class="product-card__details-attributes">
      <li class="product-type">Male</li>
    </ul>
    <div class="product-card__details-price">
      <div class="product-price-call">
        <i class="icon icon-call-us"></i>
        <label class="number-label">Call for Price</label>
        <span class="number-hidden">Call Now (404) 842-0266</span>
      </div>
    </div>
    <ul class="product-card__details-colors">
      <li><span class="color color-golden"></span></li>
      <li><span class="color color-silver"></span></li>
      <li><span class="color color-rosegold"></span></li>
      <li><span class="color color-twotone"></span></li>
      <li><span class="color color-tritone"></span></li>
    </ul>
  </div>
</div>