<div class="icebox__promo">
  <div class="promo">
    <button type="button" class="promo__button icon-big icon--close-small-white" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <div class="promo__message">
      <p>Extra 20% Off sale on Watches, Use Code <span class="promo-code">Icebox20</span> at checkout
        <a class="promo__action" href="#">Shop now</a>
      </p>
    </div>
  </div>
</div>