<section class="trust-section pt-4">
  <div class="o-container">
    <div class="row">
      <div class="col">
        <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 18">
          <path fill-rule="evenodd"
            d="M23.841 8.94l-1.41-1.817h.001L20.163 2.61a.757.757 0 00-.676-.417H16.26v-.756a.756.756 0 00-.756-.756H2.9a.756.756 0 100 1.512h11.849v5.294c0 .418.338.757.756.757h5.882l1.101 1.418v3.9h-1.425a3.03 3.03 0 00-2.936-2.293 3.03 3.03 0 00-2.936 2.294h-4.464A3.03 3.03 0 007.79 11.27a3.03 3.03 0 00-2.936 2.294H2.899a.756.756 0 100 1.513h1.968a3.03 3.03 0 002.923 2.243 3.03 3.03 0 002.923-2.243h4.49a3.03 3.03 0 002.923 2.243 3.03 3.03 0 002.923-2.243h2.195a.756.756 0 00.756-.757V9.403a.758.758 0 00-.159-.464zm-4.82-5.234l1.52 3.025h-4.28V3.706h2.76zM7.79 15.806a1.514 1.514 0 01-1.513-1.512c0-.834.679-1.513 1.513-1.513.834 0 1.512.679 1.512 1.513 0 .834-.678 1.513-1.512 1.513zm10.336 0a1.514 1.514 0 01-1.513-1.512c0-.834.679-1.513 1.513-1.513.834 0 1.513.679 1.513 1.513 0 .834-.679 1.513-1.513 1.513zM1.992 9.732H5.47a.756.756 0 110 1.513H1.99a.756.756 0 110-1.513zM7.21 6.756H.756a.756.756 0 100 1.513H7.21a.756.756 0 100-1.513zM1.992 3.781h6.453a.756.756 0 110 1.513H1.992a.756.756 0 110-1.513z">
          </path>
        </svg>
        <h5 class="trust-title">Free Shipping with insured</h5>
        <p class="trust-content">We deliver free shipping with Insured delivery.</p>
      </div>
      <div class="col">
        <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 22">
          <path fill-rule="evenodd"
            d="M23.848 1.821l-2.812 6.031H24v14.11H0V7.852h16.381L20.025.038l3.823 1.783zm-1.868.68l-1.275-.594-4.16 8.922 1.274.594 4.16-8.921zm-6.03 9.602l-.048.104a4.367 4.367 0 00-.337 2.385 4.069 4.069 0 001.61-1.785l.05-.11-1.274-.594zM1.407 20.555h21.188V9.258H20.38l-1.932 4.143a5.468 5.468 0 01-3.106 2.846l-.057.02-.059.011c-.026.005-.643.116-1.358.172-1.438.113-1.966-.097-2.239-.265-.57-.353-.676-1.059-.78-1.742v-.002c-.035-.226-.09-.596-.167-.814-.077.286-.135.746-.175 1.055-.08.632-.163 1.286-.384 1.832-.408 1.009-1.133 1.183-1.584 1.183-.032 0-.063 0-.092-.002-.516-.027-1.196-.303-1.51-1.465-.166-.616-.21-1.378-.252-2.114-.03-.534-.06-1.04-.13-1.45-.07-.4-.153-.548-.187-.595-.084.004-.178.029-.274.369-.12.42-.131 1.04-.142 1.585v.001c-.018.973-.033 1.742-.573 2.13-.914.66-2.446.197-2.743.097l.444-1.334c.47.155 1.12.234 1.4.136.05-.216.06-.714.066-1.056.012-.631.026-1.346.195-1.943.337-1.19 1.16-1.383 1.62-1.391.417-.008 1.169.157 1.49 1.351.155.577.197 1.31.238 2.02.038.665.077 1.352.206 1.828.056.21.148.423.225.427.081.004.173.009.3-.304.151-.377.223-.938.292-1.482v-.002c.066-.513.128-.997.26-1.397.3-.9.894-1.035 1.22-1.035.348 0 .983.118 1.342.91.174.385.24.825.305 1.252.037.24.096.63.165.772.25.097.998.092 1.806 0a5.779 5.779 0 01.409-3.376l1.106-2.37H1.405v11.296zm19.735-7.078h-1.407v2.813h1.407v-2.813z">
          </path>
        </svg>
        <h5 class="trust-title">Signature is required</h5>
        <p class="trust-content">You will sign for your package</p>
      </div>
      <div class="col">
        <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
          <path
            d="M19.735 22.594V0H4.265v14.156H2.86v8.438H1.406V24h21.188v-1.406h-2.86zM5.672 1.406h12.656v21.188h-1.406V2.812H7.078v11.344H5.672V1.406zm1.406 14.156h1.407v1.407H7.078v-1.407zm1.406-1.406V4.22h7.032v7.078H14.11v1.406h1.406v9.89h-2.813v-8.437H8.484zm-4.218 1.406h1.406v2.813H9.89v-2.813h1.406v7.032H4.266v-7.032z">
          </path>
        </svg>
        <h5 class="trust-title">Guaranteed to your door</h5>
        <p class="trust-content">100% guaranteed delivery to tour door!</p>
      </div>
      <div class="col">
        <svg class="svgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
          <path fill-rule="evenodd"
            d="M23.465 12.904l.498.038a12.143 12.143 0 000-1.884l-.498.038-.498.039a11.145 11.145 0 010 1.73l.498.039zm-.28-3.59l.486-.117a11.903 11.903 0 00-.582-1.79l-.461.191-.462.192c.218.527.397 1.075.532 1.64l.487-.116zM21.807 5.99l.426-.262c-.33-.537-.7-1.046-1.108-1.522l-.38.324-.38.325c.374.438.714.904 1.016 1.397l.426-.262zM19.47 3.255l.325-.38a12.043 12.043 0 00-1.523-1.108l-.262.426-.262.426c.493.302.96.642 1.397 1.016l.325-.38zm-3.067-1.883l.191-.461a11.912 11.912 0 00-1.79-.582l-.117.486-.116.487c.565.135 1.113.314 1.64.532l.192-.462zM12.904.535l.038-.499a12.163 12.163 0 00-1.884 0l.038.499.039.498a11.165 11.165 0 011.73 0l.039-.498zm-3.59.28L9.197.33c-.616.148-1.215.343-1.79.582l.191.461.192.462a10.908 10.908 0 011.64-.532L9.314.815zm-5.107 2.06c.476-.408.985-.778 1.522-1.108l.262.426.262.426a11.04 11.04 0 00-1.397 1.016l-.325-.38-.324-.38zM3.255 4.53l-.38-.324c-.408.476-.778.985-1.108 1.522l.426.262.426.262c.302-.493.642-.96 1.016-1.397l-.38-.325zM1.372 7.598l-.461-.191a11.908 11.908 0 00-.582 1.79l.486.117.487.116c.135-.565.314-1.113.532-1.64l-.462-.192zM0 12c0-.317.012-.632.036-.942l.499.038.498.039a11.165 11.165 0 000 1.73l-.498.039-.499.038C.012 12.632 0 12.317 0 12zm.815 2.686l-.486.117c.148.616.343 1.215.582 1.79l.461-.191.462-.192a10.91 10.91 0 01-.532-1.64l-.487.116zm1.378 3.323l-.426.262c.33.537.7 1.046 1.108 1.523l.38-.325.38-.325a11.041 11.041 0 01-1.016-1.397l-.426.262zm2.338 2.736l-.324.38c.476.408.985.779 1.522 1.108l.262-.426.262-.426a11.038 11.038 0 01-1.397-1.016l-.325.38zm3.067 1.883l-.191.461c.575.24 1.174.434 1.79.582l.117-.486.116-.487a10.91 10.91 0 01-1.64-.532l-.192.462zm3.498.837l-.038.498a12.143 12.143 0 001.884 0l-.038-.498-.039-.498a11.145 11.145 0 01-1.73 0l-.039.498zm3.59-.28l.117.486a11.908 11.908 0 001.79-.582l-.191-.461-.192-.462a10.91 10.91 0 01-1.64.532l.116.487zm3.323-1.378l.262.426c.537-.33 1.046-.7 1.523-1.108l-.325-.38-.325-.38a11.04 11.04 0 01-1.397 1.016l.262.426zm2.736-2.338l.38.325c.408-.477.779-.986 1.108-1.523l-.426-.262-.426-.262a11.04 11.04 0 01-1.016 1.397l.38.325zm1.883-3.067l.461.191c.24-.575.434-1.174.582-1.79l-.486-.117-.487-.116a10.91 10.91 0 01-.532 1.64l.462.192zM12 3c2.404 0 4.664.936 6.364 2.636A8.941 8.941 0 0121 12a8.942 8.942 0 01-2.636 6.364A8.942 8.942 0 0112 21a8.941 8.941 0 01-6.364-2.636A8.941 8.941 0 013 12c0-2.404.936-4.664 2.636-6.364A8.94 8.94 0 0112 3zm4.318 12.843h2.634c.552-.995.897-2.12.975-3.316h-2.994a11.847 11.847 0 01-.615 3.316zm-7.041 1.055c.67 1.266 1.6 2.301 2.723 2.97 1.123-.669 2.053-1.704 2.723-2.97H9.277zm-1.154-4.37c.054 1.174.29 2.298.677 3.315h6.4c.387-1.017.623-2.14.677-3.316H8.123zm-1.056 0H4.073a7.886 7.886 0 00.975 3.315h2.634a11.845 11.845 0 01-.615-3.316zm.615-4.371H5.048a7.886 7.886 0 00-.975 3.316h2.994c.05-1.162.262-2.282.615-3.316zm7.041-1.055c-.67-1.266-1.6-2.301-2.723-2.97-1.123.669-2.053 1.704-2.723 2.97h5.446zm1.154 4.37a10.723 10.723 0 00-.677-3.315H8.8a10.722 10.722 0 00-.677 3.316h7.754zm1.056 0h2.994a7.887 7.887 0 00-.975-3.315h-2.634c.353 1.034.565 2.154.615 3.316zm-3.006-7.18c.8.77 1.467 1.727 1.969 2.81h2.356a7.963 7.963 0 00-4.325-2.81zm-5.822 2.81c.5-1.083 1.168-2.04 1.968-2.81a7.964 7.964 0 00-4.325 2.81h2.357zm1.968 12.607c-.8-.772-1.467-1.729-1.968-2.811H5.748a7.964 7.964 0 004.325 2.81zm5.822-2.811c-.5 1.082-1.168 2.04-1.968 2.81a7.964 7.964 0 004.325-2.81h-2.356z">
          </path>
        </svg>
        <h5 class="trust-title">World-wide Free Shipping</h5>
        <p class="trust-content">100% guaranteed delivery to tour door!</p>
      </div>
    </div>
  </div>
</section>