<!-- Modal -->
<div class="modal fade default-modal ask-question" id="productPageAskQuestion" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="icon-b icon--close-rounded btn-modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
      <div class="modal-header">
        <span class="modal-title">Ask a Question</span>
        <p class="text-4">Sign up for our newsletter and you’ll receive exclusive offers, &amp; updated products</p>
      </div>

      <div class="modal-content-media card-block">
        <picture class="lazyload modal-media">
          <img class="lazy loaded" srcset="../img/newsletter.jpg" alt="…">
        </picture>
        <div class="product-details">
          <div class="product-title">Diamond and Square Ring in 18k Rose Gold Color</div>
          <div class="product--info-wrapper-attributes">
            <div class="product-attribute">Women</div>
            <div class="product-attribute">36MM</div>
            <div class="product-attribute">$56043</div>
          </div>
        </div>
      </div>
      <div class="modal-content-wrapper">
        <form action="" class="newsletter-form">
          <div class="input__wrapper">
            <label for="fullName" class="input__normal-label">Your Name</label>
            <input type="text" class="input__normal" id="fullName" placeholder="john">
          </div>
          <div class="input__wrapper">
            <label for="yourEmail" class="input__normal-label">Your Email</label>
            <input type="text" class="input__normal" id="yourEmail" placeholder="john@email.com">
          </div>
          <div class="input__wrapper">
            <label for="yourEmail" class="input__normal-label">What's your query?</label>
            <textarea type="text" class="input__normal" rows="3" id="yourEmail"
              placeholder="Write your message in details"></textarea>
          </div>
          <div class="buttonGroups">
            <button type="button" class="btn btn-primary">Send Message</button>
          </div>
        </form>
        <div class="modal-footer">
          <p class="text-5">We'll send message in your email within 24 hours! To know more <a href="#">Frequently
              Asked Questions</a></p>
        </div>
      </div>
    </div>
  </div>
</div>