<section>
  <div class="productCommanHeader">
    <div class="productCommanHeader__left">
      <h5 class="productCommanHeader--title">Select diamond quality</h5>
    </div>
    <div class="productCommanHeader__right">
      <a class="productCommanHeader--link" href="#" id="jsSlidebarDiamondQualityTrigger">Know more</a>
    </div>
  </div>

  <div class="diamondQuality">
    <div class="content-wrapper">

      <div class="radio-wrapper content-wrapper__row js-diamond-header" data-target="#diamondQuality-1">
        <div class="radio__input">
          <input type="radio" name="myRadio" id="daimondSi" class="radio">
        </div>
        <label for="daimondSi" class="radio__label">
          <span class="radio__label--primary">SI <small>(Slightly Included)</small></span>
        </label>
      </div>
      <div class="radio-wrapper content-wrapper__row content-wrapper__row--secondary js-diamond-container hidden"
        id="diamondQuality-1 p0">
      </div>
      <div class="radio-wrapper content-wrapper__row js-diamond-header radio-wrapper-bg"
        data-target="#diamondQuality-2">
        <div class="radio__input">
          <input type="radio" name="myRadio" id="daimondVS" class="radio" checked="">
        </div>
        <label for="daimondVS" class="radio__label">
          <span class="radio__label--primary">VS <small>(Very Slightly)</small></span>
        </label>
        <div class="radio__label--stuff">+$100</div>
      </div>
      <div
        class="radio-wrapper content-wrapper__row content-wrapper__row--secondary radio-wrapper-bg-container js-diamond-container"
        id="diamondQuality-2">
        <div class="diamondWrapper">
          <span class="text-4">This item is made to order and will ship on <strong>December 9th, 2020</strong></span>
        </div>
      </div>
      <div class="radio-wrapper content-wrapper__row js-diamond-header" data-target="#diamondQuality-3">
        <div class="radio__input">
          <input type="radio" name="myRadio" id="daimondVVS" class="radio">
        </div>
        <label for="daimondVVS" class="radio__label">
          <span class="radio__label--primary">VVS <small>(Very Very Slightly)</small></span>
        </label>
        <div class="radio__label--stuff">+$200</div>
      </div>
      <div class="radio-wrapper content-wrapper__row content-wrapper__row--secondary js-diamond-container hidden"
        id="diamondQuality-3">
        <div class="diamondWrapper">
          <span class="text-4">This item is made to order and will ship on <strong>December 9th, 2020</strong></span>
        </div>
      </div>
      <div class="radio-wrapper content-wrapper__row js-diamond-header" data-target="#diamondQuality-4">
        <div class="radio__input">
          <input type="radio" name="myRadio" id="daimondNo" class="radio">
        </div>
        <label for="daimondNo" class="radio__label">
          <span class="radio__label--primary">No diamonds</span>
        </label>
        <div class="radio__label--stuff">-$300</div>
      </div>
      <div class="radio-wrapper content-wrapper__row content-wrapper__row--secondary js-diamond-container hidden"
        id="diamondQuality-4">
        <div class="diamondWrapper">
          <span class="text-4">This item not included any diamond</span>
        </div>
      </div>
    </div>
  </div>

</section>