<section class="ourCustomers" style="background-color: #EAECF4">
  <div class="container">
    <div class="section-header">
      <h3>Our customer experiences</h3>
    </div>

    <!-- product wrapper -->
    <div id="js-productCustomerReviews" class="ourCustomersReviews product-wrapper owl-carousel owl-theme">
      <div class="col">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Customer service is always good!</div>
        <div class="meta d-flex">
          <span class="meta-review">Matthew V.</span>
          <span class="meta-review">4/18/2017</span>
        </div>
        <div class="review">
          Best place to go for a gift on any occasion.. Customer service is always good and top notch at IceBox. No
          matter what
          the budget they always have something that fits my needs. I have personally referred friends and family to
          IceBox and
          they leave out a happy customer.
        </div>
      </div>
      <div class="col">
        <div class="rating pb-4">
          <ul class="commonList">
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li><i class="icon icon--rated"></i></li>
            <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
          </ul>

        </div>
        <div class="title">Got my Christmas gift from Icebox!</div>
        <div class="meta d-flex">
          <span class="meta-review">Saira G.</span>
          <span class="meta-review">2/24/2017</span>
        </div>
        <div class="review">
          I often hear people say how Atlanta is a small city and that you run into people you know all over town or
          that everyone
          eats/shops at the same spots. I walked into this store about two weeks ago on my own without ever mentioning
          the name of
          the place to my husband. All he knew was that I saw some earrings and a Rolex that I liked. Well earlier this
          week, I
          saw our credit card statement and of all the stores in town, it showed that he got my Christmas gift from
          Icebox.
        </div>
      </div>
    </div>
  </div>
</section>