<div class="productDetails">
  <div class="productDetails__content">
    <p class="text-4">This piece is handcrafted and manufactured by Icebox. All of the diamonds are hand-set by a master diamond setter in the
    highest quality craftsmanship.</p>
  </div>
  <ul class="commanChecklist">
    <li class="checklist-icon">Shipping & Returns</li>
    <li class="checklist-icon">Guaranteed to your door</li>
    <li class="checklist-icon">Signature is required</li>
  </ul>
</div>

