<div class="productBottomBarWrapper" id="productBottomBar">
  <div class="d-block">
    <div class="container productBottomBar">
      <div class="productBottomBar__product">
        <div class="productBottomBar__product-attributes">
          <h5 class="title-5 productBottomBar-title">True Wide Ring 18k rose gold with round diamonds</h5>
        </div>
        <figure class="productBottomBar__product-image">
          <img
            src="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/282f2d7233350ddb1fcb9e6fe80e3b48.jpg"
            class="lazyload">
        </figure>
      </div>
      <div class="productBottomBar__actions">
        <button class="btn btn-primary cartBtn productBottomBar-btn justify-content-center m-0"><span>Buy now —
            $700</span></button>
      </div>
    </div>
  </div>
</div>