<div class="sidebarNew" id="jsSidebarContent">
  <div class="sidebarNew-container sidebarNew--modifier slidebarScrollbar"  id="jsSidebarContentContainer">
    <button type="button" id="sidebarCloseTrigger" class="icon-b slidebar-close icon--close-rounded"></button>
    <div class="sidebarInnerWrapper">
      <div class="sidebarHeader">
        <h4 class="title-4">Shipping & Returns</h4>
        <p>Enjoy complimentary shipping and returns on all orders.</p>
      </div>
      
      <p class="heading">
        Will I be charged sales tax on my icebox.com purchase?
      </p>
      <p class="text">
        All orders within the state of Georgia are subject to 8.9% sales tax. If your order is being shipped outside of the
        state of Georgia, you will not be charged sales tax.
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p class="heading">
        If my order is shipped outside of the US, will there be fees, duties, or taxes?
      </p>
      <p class="text">
        The customs office of the destination country or region may impose customs fees, import duties, taxes, and other charges
        to your international order. These additional charges required for customs clearance are the responsibility of the
        recipient. When your order arrives at customs, either the carrier or customs office will contact you directly to arrange
        for the payment of any charges that may be due.
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p class="heading">
        I want my order delivered on Saturday, what should I do?
      </p>
      <p class="text">
        If your order is shipped on a Friday and you pay for overnight shipping, we will choose the Saturday delivery option as
        a courtesy for no extra charge.
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p class="heading">
        Icebox Return Policy
      </p>
      <p class="text">
        You may return items purchased in-store or online for an exchange towards in-stock items (of equal or greater value)
        within 14 days of the receipt of the item(s). No refunds. Special orders, custom orders, and clearance/sale items are
        non-returnable and considered a Final Sale. Transactions with trade-ins are non-returnable and considered a Final Sale.
        Items must be returned by the purchaser in their original, unused, saleable condition (with no alterations, including
        sizing or engraving) in original packaging with receipts, paperwork, documentation, watch links, etc. Shipping costs are
        not refundable. To initiate a return, customers MUST contact our returns department to receive a Return Authorization
        Number. You can contact us at <a href="mailto:support@icebox.com" class="bold">support@icebox.com</a> or by calling 404-842-0266. Items purchased in store can be exchanged
        in store without a Return Authorization Number, other restrictions apply. How to Prepare a Return: Obtain a Return
        Authorization Number. Please contact us at 404-842-0266 or email us at <a href="mailto:support@icebox.com" class="bold">support@icebox.com</a> in order to be issued a return
        authorization number. You must write this Return Number clearly on the exterior of the package before sending it out to
        us. Please note that any package sent without a Return Authorization Number written out on the outer box, will be not be
        accepted. Package Your Return. 
      </p>
      <p>&nbsp;</p>
      <p class="text">
        Please make sure to include all original packaging as well as any other material, which
        was sent/delivered to you. Ship and Insure Your Package via USPS Registered Mail. Please make sure to use only United
        States Postal Service (USPS), and not FedEx or UPS. The United States Postal Service is the only company which will
        insure jewelry for over $500. Please ensure to receive a confirmation of delivery and keep the shipment tracking number
        as confirmation of shipment. Ship your package only with USPS Registered Mail, insured for the total value of the item.
        Please ensure to receive a confirmation of delivery, and keep the shipment tracking number as confirmation of shipment.
        Please Note: Icebox will not be responsible for lost or stolen return packages. Upon receiving your return at Icebox,
        the item will be reviewed by our Quality Inspection Team. Please note that items showing signs of wear or those that
        have been altered or damaged in any way, are not eligible for a return and the item will be sent back to you. Packages
        sent back to Icebox without a return authorization number present on the outer packaging will be refused upon arrival.
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </div>
  </div>
</div>