<div class="sidebarNew" id="sidebarDiamond">
  <div class="sidebarNew-container sidebarNew--modifier slidebarScrollbar" id="sidebarDiamondContainer">
    <button type="button" id="sidebarCloseTrigger2" class="icon-b slidebar-close icon--close-rounded"></button>
    <div class="sidebarInnerWrapper">
      <div class="sidebarHeader">
        <h4 class="title-4">Diamond Clarity</h4>
        <p>Diamonds are graded on a clarity scale based on the number, size and type of inclusions, as determined by a gemologist.</p>
      </div>
      
      <p class="heading">
        VVS: Very Very Slightly 
      </p>
      <p class="text">
        Included - Inclusions difficult to see with 10x magnification
      </p>
      <p>&nbsp;</p>

      <p class="heading">
        VS: Very Slightly Included
      </p>
      <p class="text">
        Inclusions seen with 10x magnification
      </p>
      <p>&nbsp;</p>

      <p class="heading">
        SI Slightly Included
      </p>
      <p class="text">
        Inclusions easily seen with 10x magnification, but not visible through the crown with the unaided eye
        I Included - Inclusions easily seen with the unaided eye
      </p>
      
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p class="heading">
        What is the "right" clarity?
      </p>
      <p class="text">
        Clarity, just like color and shape are mainly personal preferences and there is no "right" or "wrong" clarity.
      </p>
      <p>&nbsp;</p>
      <p class="text">
        SI clarity diamonds should not have inclusions visible to the naked eye, when viewed through the crown. While SI does
        have inclusions, they are usually "eye-clean", so provide an excellent value. Any obvious inclusions can usually be seen
        in our actual diamond photographs, which show the diamond at greater than 10x magnification.

      </p>

    </div>
  </div>
</div>