<label class="productStatus pb-12 --red">New Arrival</label>
<div class="productTitle">
  <h1 class="title-3 bold">Icebox Bar Pendant
    <span class="subTitle">18k rose gold with round diamonds</span>
  </h1>
</div>
<div class="rating">
  <ul class="commonList">
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
  </ul>
</div>