<section>
  <div class="productCommanHeader">
    <div class="productCommanHeader__left">
      <h5 class="productCommanHeader--title">Type your letter</h5>
    </div>
    <div class="productCommanHeader__right">
      <a class="productCommanHeader--link letter-counter border-0" href="#" id="jsSlidebarDiamondQualityTrigger">(6)
        600$</a>
    </div>
  </div>
  <div class="letterCounter">
    <div class="field" style="float: none;">
      <input type="text" id="firstNameField" name="firstname" placeholder="LETTER" class="field__input" required>
      <aside class="field__btn">
        <button class="btn btn-primary btn-submit-letters">Ok</button>
      </aside>
    </div>
  </div>

  <!-- for demo purpose -->
  <div class="letterCounter letterCounter--has-letters mt-2">
    <div class="field" style="float: none;">
      <input type="text" id="firstNameField" name="firstname" placeholder="FAIZUR" class="field__input" required>
      <aside class="field__btn">
        <button class="btn btn-primary btn-submit-letters">Edit</button>
      </aside>
    </div>
  </div>
  <div class="alert pl-0 pr-0">
    If you need more customization, <br>
    call us now: (770) 828-5540
  </div>
</section>