<div class="productDetailContainer">
  <div class="container">
    <div class="productDetailContainer-details">
      <div class="productDetail-content">
        <h2 class="title-3">Icebox Bar Pendant</h2>
        <p>This Icebox Kitchen Knife Ring is made of 14K Yellow gold with 0.25ctw of diamonds.</p>
        <p>This piece is handcrafted and manufactured by Icebox. All of the diamonds are hand-set by a master diamond
          setter in
          the highest quality craftsmanship. This piece is made of solid Yellow gold.</p>
      </div>
      <div class="accordion js-accordion productDetail-accordion">
        <div class="accordion__item js-accordion-item active">
          <h4 class="accordion-header js-accordion-header product-subtitle">Product details</h4>
          <div class="accordion-body js-accordion-body" style="display: block;">
            <div class="accordion-body__contents">
              <div class="ProductDetailList d-flex flex-wrap">
                <div class="col col-6 p-0">
                  <div class="ProductDetailList-col">
                    <span class="ProductDetailList-label">Jewelry Brand</span>
                    <p class="ProductDetailList-title text-2 bold">Icebox</p>
                  </div>
                </div>
                <div class="col col-6 p-0">
                  <div class="ProductDetailList-col">
                    <span class="ProductDetailList-label">Jewelry Brand</span>
                    <p class="ProductDetailList-title text-2 bold">Icebox</p>
                  </div>
                </div>
                <div class="col col-6 p-0">
                  <div class="ProductDetailList-col">
                    <span class="ProductDetailList-label">Gender</span>
                    <p class="ProductDetailList-title text-2 bold">Unisex</p>
                  </div>
                </div>
                <div class="col col-6 p-0">
                  <div class="ProductDetailList-col">
                    <span class="ProductDetailList-label">Metal Purity</span>
                    <p class="ProductDetailList-title text-2 bold">14K</p>
                  </div>
                </div>
                <div class="col col-6 p-0">
                  <div class="ProductDetailList-col">
                    <span class="ProductDetailList-label">Total Diamond Weight</span>
                    <p class="ProductDetailList-title text-2 bold">0.25ctw</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of accordion item -->
        <div class="accordion__item js-accordion-item">
          <h4 class="accordion-header js-accordion-header product-subtitle">What's inside box</h4>
          <div class="accordion-body js-accordion-body">
            <div class="accordion-body__contents">
              <ul class="commanChecklist pt-3">
                <li class="checklist-icon">Shipping &amp; Returns</li>
                <li class="checklist-icon">Guaranteed to your door</li>
                <li class="checklist-icon">Signature is required</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of accordion item -->
        
      </div>
    </div>

    <div class="productDetailContainer-media">
      <figure class="productBiggerImage">
        <img src="img/samples/productpage-sample.jpg" alt="">
      </figure>
    </div>
  </div>
</div>

