<div class="productColor">
  <span class="selected-color text-4 pb-12">Gold Color</span>
  <div class="space-block bh12"></div>
  <ul class="colornav-items colornav--productPage">
    <li class="colornav-item">
      <input type="radio" name="color" id="color-gold" value="color-gold" class="colornav-value" checked="">
      <label for="color-gold" class="colornav-link">
        <span class="color--golden colornav-switch"></span>
      </label>
    </li>
    <li class="colornav-item">
      <input type="radio" name="color" id="color-silver" value="color-silver" class="colornav-value">
      <label for="color-silver" class="colornav-link">
        <span class="color--silver colornav-switch"></span>
      </label>
    </li>
    <li class="colornav-item">
      <input type="radio" name="color" id="color-rosegold" value="color-rosegold" class="colornav-value">
      <label for="color--rosegold" class="colornav-link">
        <span class="color--rose colornav-switch"></span>
      </label>
    </li>
    <li class="colornav-item">
      <input type="radio" name="color" id="color-twotone" value="color-twotone" class="colornav-value">
      <label for="color-twotone" class="colornav-link">
        <span class="color--twotone-wr colornav-switch"></span>
      </label>
    </li>
    <li class="colornav-item">
      <input type="radio" name="color" id="color-tritone-wy" value="color-tritone-wy" class="colornav-value">
      <label for="color-tritone-wy" class="colornav-link">
        <span class="color--twotone-wy colornav-switch"></span>
      </label>
    </li>
    <li class="colornav-item">
      <input type="radio" name="color" id="color-tritone" value="color-tritone" class="colornav-value">
      <label for="color-tritone" class="colornav-link">
        <span class="color--tritone colornav-switch"></span>
      </label>
    </li>
    <li class="colornav-item">
      <input type="radio" name="color" id="color-titanium" value="color-tritone" class="colornav-value">
      <label for="color-titanium" class="colornav-link">
        <span class="color--titanium colornav-switch"></span>
      </label>
    </li>
  </ul>
</div>