<ul id="lightSlider">
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/282f2d7233350ddb1fcb9e6fe80e3b48.jpg"
    data-color="Yellow"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/282f2d7233350ddb1fcb9e6fe80e3b48.jpg?v=5eb314a7ed1b1" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/282f2d7233350ddb1fcb9e6fe80e3b48.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/11a26d5a0cd2044a463825e5893a0c2b.jpg"
    data-color="Yellow"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/11a26d5a0cd2044a463825e5893a0c2b.jpg?v=5eb314a7ee70a" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/11a26d5a0cd2044a463825e5893a0c2b.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/0b60ae82714320ad08011b75f95ee331.jpg"
    data-color="Yellow"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/0b60ae82714320ad08011b75f95ee331.jpg?v=5eb314a7f0237" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/0b60ae82714320ad08011b75f95ee331.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/e1242ebb4a37bb409471f0758d9e37d0.jpg"
    data-color="White"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/e1242ebb4a37bb409471f0758d9e37d0.jpg?v=5eb314a7f20ab" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/e1242ebb4a37bb409471f0758d9e37d0.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/c4f922085debefd401292951fff823e0.jpg"
    data-color="White"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/c4f922085debefd401292951fff823e0.jpg?v=5eb314a7f3af6" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/c4f922085debefd401292951fff823e0.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/4210eb65307713db8ccf42044edebf25.jpg"
    data-color="White"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/4210eb65307713db8ccf42044edebf25.jpg?v=5eb314a801055" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/4210eb65307713db8ccf42044edebf25.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/ab7cc8862dbfffc6e0956e1a52f0dfb1.jpg"
    data-color="Rose"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/ab7cc8862dbfffc6e0956e1a52f0dfb1.jpg?v=5eb314a8027f5" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/ab7cc8862dbfffc6e0956e1a52f0dfb1.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/728db2187a0522f5643b9f07d42b4638.jpg"
    data-color="Rose"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/728db2187a0522f5643b9f07d42b4638.jpg?v=5eb314a8043fe" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/728db2187a0522f5643b9f07d42b4638.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
  <li class="image--flex" itemprop='image' itemscope itemtype='http://schema.org/ImageObject'
    data-thumb="https://www.icebox.com/unsafe/100x100/icebox-jewelry.s3.amazonaws.com/products/0d2ef72a846244c868f1244bfd53caf8.jpg"
    data-color="Rose"><img class="main-slide-img lazyload"
      data-img-tag="/uploads/0d2ef72a846244c868f1244bfd53caf8.jpg?v=5eb314a805ff5" itemprop="contentUrl"
      src="https://www.icebox.com/unsafe/800x600/icebox-jewelry.s3.amazonaws.com/products/0d2ef72a846244c868f1244bfd53caf8.jpg"
      alt="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw" title="Lightning Bolt Pendant 14K Yellow Gold 0.15ctw"></li>
</ul>