<div class="rating pb-24">
  <ul class="commonList">
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li><i class="icon icon--rated"></i></li>
    <li></li><label class="rating-score text-4 bold">5 / 5</label></li>
  </ul>
</div>