<section>
  <div class="productCommanHeader">
    <div class="productCommanHeader__left">
      <h5 class="productCommanHeader--title">Select Size</h5>
    </div>
    <div class="productCommanHeader__right">
      <a class="productCommanHeader--link" href="#">Size Guide</a>
    </div>
  </div>
  <div class="itemLengthSize lengthSize--5">
    <button class="itemLengthSize-item js-lengthSelect"><span>16</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>4.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>5.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>6</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>6.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>7</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>7.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>8</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>8.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>16</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>4.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>5.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>6</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>6.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>7</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>7.5</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>8</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>8.5</span></button>
  </div>
</section>