<section>
  <div class="productCommanHeader">
    <div class="productCommanHeader__left">
      <h5 class="productCommanHeader--title">Earring Options</h5>
    </div>
  </div>
  <div class="selectOption lengthSize--2">
    <button class="itemLengthSize-item js-selectOption"><span>Pair</span></button>
    <button class="itemLengthSize-item js-selectOption"><span>Single</span></button>
  </div>
</section>