<section>
  <div class="productCommanHeader">
    <div class="productCommanHeader__left">
      <h5 class="productCommanHeader--title">Select Length</h5>
    </div>
    <div class="productCommanHeader__right">
      <a class="productCommanHeader--link" href="#">Change to cm</a>
    </div>
  </div>
  <div class="itemLengthSize lengthSize--4">
    <button class="itemLengthSize-item js-lengthSelect"><span>16 inches</span></button>
    <button class="itemLengthSize-item js-lengthSelect active"><span>18 inches</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>20 inches</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>22 inches</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>24 inches</span></button>
    <button class="itemLengthSize-item js-lengthSelect"><span>26 inches</span></button>
  </div>
  <!-- stockMessage -->
  <div class="stockMessage --red">
    Do not miss! Only 1 left in stock.
  </div>
</section>
